<div class="container-fluid">
  <div *ngIf="isViewMode" class="d-flex justify-content-between">
    <div class="d-flex gap-2 align-items-center">
      <button mat-icon-button (click)="navigateToList()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h3 class="m-0">Stock Transfer No: {{ data?.transferNo }}</h3>
      <mat-chip
        class="align-middle py-4 px-8"
        [color]="getStockTransferStatus(data?.status).color"
        selected
      >
        {{ getStockTransferStatusName(data?.status)?.replaceAll("_", " ") }}
      </mat-chip>
      <button
        mat-icon-button
        color="primary"
        matTooltip="print pdf"
        matTooltipShowDelay="300"
        matTooltipPosition="above"
        (click)="printPdf(data?.id)"
      >
        <mat-icon>print</mat-icon>
      </button>
      <button
        *appHasPermission="['Permissions.StockTransfers.Edit']"
        [hidden]="
          data?.status > 2 || data?.financialYearId != currentFinancialYearId
        "
        mat-icon-button
        color="primary"
        matTooltip="Edit"
        matTooltipShowDelay="300"
        matTooltipPosition="above"
        (click)="showEdit()"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div>
      <button
        #btnCheck
        *appHasPermission="['Permissions.StockTransfers.Check']"
        [hidden]="
          data?.status != 1 || data?.financialYearId != currentFinancialYearId
        "
        mat-raised-button
        type="button"
        color="accent"
        [disabled]="isDialogOpen || isLoading"
        (click)="confirmCheck(data?.id, data?.transferNo)"
      >
        <ng-container *ngIf="isLoading; else saveText">
          <mat-icon>
            <mat-spinner diameter="20"></mat-spinner>
          </mat-icon>
          {{ "Processing..." }}
        </ng-container>
        <ng-template #saveText>
          {{ "Check" }}
        </ng-template>
      </button>

      <button
        #btnApprove
        *appHasPermission="['Permissions.StockTransfers.Approve']"
        [hidden]="
          data?.status != 2 || data?.financialYearId != currentFinancialYearId
        "
        mat-raised-button
        color="primary"
        type="button"
        [disabled]="isDialogOpen || isLoading"
        (click)="confirmApprove(data?.id, data?.transferNo)"
      >
        <ng-container *ngIf="isLoading; else saveText">
          <mat-icon>
            <mat-spinner diameter="20"></mat-spinner>
          </mat-icon>
          {{ "Processing..." }}
        </ng-container>
        <ng-template #saveText>
          {{ "Approve" }}
        </ng-template>
      </button>

      <button
        *appHasPermission="['Permissions.StockTransfers.Unpost']"
        [hidden]="
          data?.status >= 4 ||
          data?.status == 1 ||
          data?.status === 'undefined' ||
          data?.financialYearId != currentFinancialYearId
        "
        type="button"
        mat-mini-fab
        color="warn"
        matTooltip="Undo"
        matTooltipShowDelay="300"
        matTooltipPosition="above"
        [disabled]="isDialogOpen || isLoading"
        (click)="confirmUnpost(data?.id, data?.transferNo, data?.status)"
      >
        <ng-container *ngIf="isLoading; else undo">
          <mat-icon>
            <mat-spinner diameter="20"></mat-spinner>
          </mat-icon>
        </ng-container>
        <ng-template #undo>
          <mat-icon>undo</mat-icon>
        </ng-template>
      </button>
    </div>
  </div>

  <mat-stepper
    class="mat-stepper-card"
    (selectionChange)="handleStepChange($event)"
    [disableRipple]="true"
    [linear]="true"
    #stepper
  >
    <mat-step [stepControl]="stockTransferForm">
      <form autocomplete="off" [formGroup]="stockTransferForm">
        <ng-template matStepLabel>Stock Transfer Form</ng-template>
        <div>
          <div class="row row-cols-3 gx-5">
            <!-- Source -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Select Source</mat-label>
                <mat-select
                  formControlName="sourceId"
                  (selectionChange)="handleSourceSelection($event, 'sourceId')"
                >
                  <mat-option [value]="null">-- None --</mat-option>
                  <mat-option *ngFor="let d of stores" [value]="d?.id">
                    {{ d?.name }}
                  </mat-option>
                </mat-select>
                <mat-error>Source is required</mat-error>
              </mat-form-field>
            </div>

            <!-- destinationId -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Select Destination</mat-label>
                <mat-select
                  formControlName="destinationId"
                  (selectionChange)="
                    handleSourceSelection($event, 'destinationId')
                  "
                >
                  <mat-option [value]="null">-- None --</mat-option>
                  <mat-option *ngFor="let d of stores" [value]="d?.id">
                    {{ d?.name }}
                  </mat-option>
                </mat-select>
                <mat-error>Destination is required</mat-error>
              </mat-form-field>
            </div>

            <!-- Transfer Date -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Choose Transfer Date</mat-label>
                <input
                  #input1
                  matInput
                  name="transferDate"
                  [matDatepicker]="picker1"
                  [min]="applyMinMax ? financialYearStartDate : null"
                  [max]="applyMinMax ? financialYearEndDate : null"
                  formControlName="transferDate"
                  (focus)="picker1.open()"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker1"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #picker1
                  (closed)="input1.blur()"
                ></mat-datepicker>
                <mat-error
                  *ngIf="
                    stockTransferForm.get('transferDate').hasError('required')
                  "
                >
                  Transfer Date is required
                </mat-error>
                <mat-error
                  *ngIf="
                    stockTransferForm
                      .get('transferDate')
                      .hasError('inFinancialYear')
                  "
                >
                  Please choose a date within the financial year period:
                  {{ financialYearStartDate | date : "mediumDate" }} -
                  {{ financialYearEndDate | date : "mediumDate" }}.
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Truck No -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Truck No</mat-label>
                <input
                  type="text"
                  matInput
                  autocomplete="off"
                  placeholder="Enter Truck No"
                  formControlName="truckNo"
                />
                <mat-error>Truck No is required </mat-error>
              </mat-form-field>
            </div>

            <!-- Remark -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Remark</mat-label>
                <input
                  type="text"
                  matInput
                  autocomplete="off"
                  placeholder="Leave a message..."
                  formControlName="remark"
                />
              </mat-form-field>
            </div>
          </div>
        </div>

        <!-- Details -->
        <ng-container formArrayName="stockTransferDetails">
          <h3 class="subheading-2">Items Detail</h3>
          <mat-divider></mat-divider>
          <ng-container
            *ngFor="let p of stockTransferDetails.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="row">
              <!-- Product -->
              <div class="col-4">
                <mat-form-field class="full-width">
                  <mat-label>Product</mat-label>
                  <input
                    type="text"
                    placeholder="Search Product"
                    aria-label="Filter Product"
                    matInput
                    name="productId"
                    formControlName="productId"
                    [matAutocomplete]="product"
                    (input)="handleProductSearch($event, i)"
                  />
                  <div matSuffix>
                    <button
                      (click)="clearInputFromDetails($event, i)"
                      *ngIf="
                        stockTransferDetails?.at(i).get('productId')?.value !==
                          null &&
                        stockTransferDetails?.at(i).get('productId')?.value !==
                          ''
                      "
                      aria-label="Clear"
                      mat-icon-button
                      type="button"
                    >
                      <mat-icon>clear</mat-icon>
                    </button>
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </div>
                  <mat-autocomplete
                    autoActiveFirstOption
                    #product="matAutocomplete"
                    (optionSelected)="handleProductSelection($event, i)"
                    [displayWith]="getProductName.bind(this)"
                  >
                    <mat-option
                      *ngFor="let product of searchProducts"
                      [value]="product.id"
                    >
                      {{ product.name }}
                      ({{
                        businessType === "2"
                          ? product?.bagWeight +
                            " " +
                            product?.measurementUnit?.name
                          : product?.packSize?.name
                      }})
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <!-- Unit -->
              <div class="col-1">
                <mat-form-field class="full-width">
                  <mat-label>Unit</mat-label>
                  <input
                    matInput
                    name="measurementUnitName"
                    formControlName="measurementUnitName"
                    readonly
                  />
                </mat-form-field>
              </div>

              <!-- Bag Weight -->
              <div
                class="col-2"
                *ngIf="businessType === '2' && isFinishedGoodsInventoryType()"
              >
                <mat-form-field
                  class="full-width"
                  matTooltip="Bag Weight"
                  matTooltipPosition="above"
                >
                  <mat-label>Bag Weight</mat-label>
                  <input
                    matInput
                    name="bagWeight"
                    formControlName="bagWeight"
                    readonly
                  />
                </mat-form-field>
              </div>

              <!-- Transfer Bag Quantity -->
              <div
                class="col-1"
                *ngIf="businessType === '2' && isFinishedGoodsInventoryType()"
              >
                <mat-form-field class="full-width">
                  <mat-label>Bag Qty</mat-label>
                  <input
                    matInput
                    type="number"
                    name="transferBagQuantity"
                    formControlName="transferBagQuantity"
                    min="0"
                    placeholder="0.00"
                    (change)="onControlChange($event, i)"
                    (input)="onControlChange($event, i)"
                  />
                </mat-form-field>
              </div>

              <!-- Transfer Quantity -->
              <div class="col-2">
                <mat-form-field class="full-width">
                  <mat-label>Transfer Qty</mat-label>
                  <input
                    matInput
                    type="number"
                    name="transferQuantity"
                    formControlName="transferQuantity"
                    min="0"
                    placeholder="0.00"
                  />
                  <mat-error>
                    <div *ngIf="p.get('transferQuantity')?.errors?.required">
                      Transfer Quantity is required
                    </div>
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- Current Stock Quantity-->
              <div class="col-1">
                <mat-form-field class="full-width">
                  <mat-label>Current Stock</mat-label>
                  <input
                    matInput
                    type="number"
                    name="currentStockQuantity"
                    formControlName="currentStockQuantity"
                    placeholder="0.00"
                    readonly
                  />
                </mat-form-field>
              </div>

              <!-- Remove Button -->
              <div class="col-1">
                <button
                  mat-mini-fab
                  type="button"
                  color="warn"
                  (click)="onDeleteItem(p?.get('id')?.value, i)"
                >
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <!-- Bottom Section -->
        <div class="d-flex justify-content-between">
          <!-- Button Container -->
          <div class="button-container">
            <button
              mat-mini-fab
              type="button"
              color="primary"
              (click)="addItem()"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

        <div class="p-3" align="center">
          <button
            class="me-2"
            type="button"
            *ngIf="!isViewMode && this.stockTransferForm.get('id')?.value"
            mat-raised-button
            (click)="backToView()"
            [disabled]="this.stockTransferForm.invalid"
          >
            Back
          </button>
          <button
            type="submit"
            color="accent"
            mat-raised-button
            matStepperNext
            class="mr-1"
            [disabled]="this.stockTransferForm.invalid"
          >
            Continue
          </button>
        </div>
      </form>
    </mat-step>
    <!-- Step Review and Submit -->
    <mat-step [editable]="false">
      <form
        (ngSubmit)="onSubmit()"
        autocomplete="off"
        [formGroup]="stockTransferForm"
      >
        <ng-template matStepLabel>Review and Create Stock Transfer</ng-template>
        <div *ngIf="isPassingDataToNextStep">
          <div class="row row-cols-3 gx-5">
            <!-- Transfer Form -->
            <div class="col label-data">
              <span>Transfer Form</span>
              <span>
                {{ getStoreName(stockTransferForm?.get("sourceId")?.value) }}
              </span>
            </div>

            <!-- Transfer To -->
            <div class="col label-data">
              <span>Transfer To</span>
              <span>
                {{
                  getStoreName(stockTransferForm?.get("destinationId")?.value)
                }}
              </span>
            </div>

            <!-- Transfer Date -->
            <div class="col label-data">
              <span>Transfer Date</span>
              <span>
                {{
                  dateFormatService.getDateFormat(
                    stockTransferForm.get("transferDate").value
                  )
                }}
              </span>
            </div>

            <!-- Truck No -->
            <div class="col label-data">
              <span>Truck No</span>
              <span>
                {{ stockTransferForm.get("truckNo").value }}
              </span>
            </div>

            <!-- Remark -->
            <div class="col label-data">
              <span>Remark</span>
              <span>
                {{ stockTransferForm.get("remark").value }}
              </span>
            </div>
          </div>

          <!-- Start of Form Array -->
          <ng-container>
            <app-stock-transfer-detail
              [data]="stockTransferDetailsData"
              [isFinishedGoodsInventoryType]="isFinishedGoodsInventoryType()"
            ></app-stock-transfer-detail>
          </ng-container>
        </div>

        <!-- Action Button -->
        <div class="p-3" *ngIf="!isViewMode" align="center">
          <button
            class="me-2"
            mat-raised-button
            matStepperPrevious
            (click)="isLoading = false"
            type="button"
          >
            Back
          </button>
          <button
            mat-raised-button
            color="accent"
            type="submit"
            [disabled]="this.stockTransferForm.invalid || isLoading"
          >
            <ng-container *ngIf="isLoading; else saveText">
              <mat-icon>
                <mat-spinner diameter="20"></mat-spinner>
              </mat-icon>
              {{ "Processing..." }}
            </ng-container>
            <ng-template #saveText>
              {{ "Save" }}
            </ng-template>
          </button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
