<div class="container-fluid">
  <div *ngIf="isViewMode" class="d-flex justify-content-between">
    <div class="d-flex gap-2 align-items-center">
      <button mat-icon-button (click)="navigateToList()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h3 class="m-0">Cash Payment Voucher No: {{ data?.voucherNo }}</h3>
      <mat-chip
        class="align-middle py-4 px-8"
        [color]="getPaymentVoucherStatus(data?.status).color"
        selected
      >
        {{ getPaymentVoucherStatusName(data?.status)?.replaceAll("_", " ") }}
      </mat-chip>
      <button
        mat-icon-button
        color="primary"
        matTooltip="print pdf"
        matTooltipShowDelay="300"
        matTooltipPosition="above"
        (click)="printPdf(data?.id)"
      >
        <mat-icon>print</mat-icon>
      </button>
      <button
        *appHasPermission="['Permissions.PaymentVouchers.Edit']"
        [hidden]="
          data?.status > 2 || data?.financialYearId != currentFinancialYearId
        "
        mat-icon-button
        color="primary"
        matTooltip="Edit"
        matTooltipShowDelay="300"
        matTooltipPosition="above"
        (click)="showEdit()"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div>
      <button
        #btnCheck
        *appHasPermission="['Permissions.PaymentVouchers.Check']"
        [hidden]="
          data?.status != 1 || data?.financialYearId != currentFinancialYearId
        "
        mat-raised-button
        type="button"
        color="accent"
        [disabled]="isDialogOpen || isLoading"
        (click)="confirmCheck(data?.id, data?.voucherNo)"
      >
        <ng-container *ngIf="isLoading; else saveText">
          <mat-icon>
            <mat-spinner diameter="20"></mat-spinner>
          </mat-icon>
          {{ "Processing..." }}
        </ng-container>
        <ng-template #saveText>
          {{ "Check" }}
        </ng-template>
      </button>

      <button
        #btnApprove
        *appHasPermission="['Permissions.PaymentVouchers.Approve']"
        [hidden]="
          data?.status != 2 || data?.financialYearId != currentFinancialYearId
        "
        mat-raised-button
        color="primary"
        type="button"
        [disabled]="isDialogOpen || isLoading"
        (click)="confirmApprove(data?.id, data?.voucherNo)"
      >
        <ng-container *ngIf="isLoading; else saveText">
          <mat-icon>
            <mat-spinner diameter="20"></mat-spinner>
          </mat-icon>
          {{ "Processing..." }}
        </ng-container>
        <ng-template #saveText>
          {{ "Approve" }}
        </ng-template>
      </button>

      <button
        *appHasPermission="['Permissions.PaymentVouchers.Unpost']"
        [hidden]="
          data?.status == 1 ||
          data?.status === 'undefined' ||
          data?.financialYearId != currentFinancialYearId
        "
        type="button"
        mat-mini-fab
        color="warn"
        matTooltip="Undo"
        matTooltipShowDelay="300"
        matTooltipPosition="above"
        [disabled]="isDialogOpen || isLoading"
        (click)="confirmUnpost(data?.id, data?.voucherNo, data?.status)"
      >
        <ng-container *ngIf="isLoading; else undo">
          <mat-icon>
            <mat-spinner diameter="20"></mat-spinner>
          </mat-icon>
        </ng-container>
        <ng-template #undo>
          <mat-icon>undo</mat-icon>
        </ng-template>
      </button>
    </div>
  </div>

  <mat-stepper
    class="mat-stepper-card"
    (selectionChange)="handleStepChange($event)"
    [disableRipple]="true"
    [linear]="true"
    #stepper
  >
    <mat-step [stepControl]="paymentVoucherForm">
      <form autocomplete="off" [formGroup]="paymentVoucherForm">
        <ng-template matStepLabel>Cash Payment Voucher Form</ng-template>
        <div>
          <div class="row row-cols-2 gx-5">
            <!-- voucherType -->
            <!-- <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Select Voucher Type</mat-label>
                <mat-select
                  formControlName="voucherType"
                  [disabled]="this.data?.id"
                >
                  <mat-option *ngFor="let d of voucherTypes" [value]="d?.value">
                    {{ d?.name.replaceAll("_", " ") }}
                  </mat-option>
                </mat-select>
                <mat-error>Voucher Type is required</mat-error>
              </mat-form-field>
            </div> -->

            <!-- voucherDate -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Choose Voucher Date</mat-label>
                <input
                  #input1
                  matInput
                  name="voucherDate"
                  [matDatepicker]="picker1"
                  [min]="applyMinMax ? financialYearStartDate : null"
                  [max]="applyMinMax ? financialYearEndDate : null"
                  formControlName="voucherDate"
                  type="text"
                  cdkFocusInitial
                  (focus)="picker1.open()"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker1"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #picker1
                  (closed)="input1.blur()"
                ></mat-datepicker>
                <mat-error
                  *ngIf="
                    paymentVoucherForm.get('voucherDate').hasError('required')
                  "
                >
                  Voucher Date is required
                </mat-error>
                <mat-error
                  *ngIf="
                    paymentVoucherForm
                      .get('voucherDate')
                      .hasError('inFinancialYear')
                  "
                >
                  Please choose a date within the financial year period:
                  {{ financialYearStartDate | date : "mediumDate" }} -
                  {{ financialYearEndDate | date : "mediumDate" }}.
                </mat-error>
              </mat-form-field>
            </div>

            <!-- fundTransferTransactionType -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Select Transaction Type</mat-label>
                <mat-select
                  formControlName="fundTransferTransactionTypeId"
                  autoFocus
                >
                  <mat-option>-- None --</mat-option>
                  <mat-option
                    *ngFor="let d of fundTransferTransactionTypes"
                    [value]="d.id"
                  >
                    {{ d.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- transactionNumber -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Transaction No</mat-label>
                <input
                  type="text"
                  matInput
                  autocomplete="off"
                  placeholder="Enter Transaction No."
                  formControlName="transactionNumber"
                />
              </mat-form-field>
            </div>

            <!-- referenceNo -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Reference No</mat-label>
                <input
                  matInput
                  type="text"
                  name="referenceNo"
                  formControlName="referenceNo"
                />
              </mat-form-field>
            </div>

            <!-- costCenterId -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Select Cost Center</mat-label>
                <mat-select formControlName="costCenterId">
                  <mat-option>-- None --</mat-option>
                  <mat-option *ngFor="let d of costCenters" [value]="d.id">
                    {{ d.name }}
                  </mat-option>
                </mat-select>
                <mat-error>Cost Center is required</mat-error>
              </mat-form-field>
            </div>

            <!-- paymentModeId -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Select Payment Mode</mat-label>
                <mat-select
                  formControlName="paymentModeId"
                  (selectionChange)="onSelectedPaymentMode($event.value)"
                >
                  <mat-option>-- None --</mat-option>
                  <mat-option *ngFor="let d of paymentModes" [value]="d.id">
                    {{ d.name }}
                  </mat-option>
                </mat-select>
                <mat-error>Payment Mode is required</mat-error>
              </mat-form-field>
            </div>

            <!-- cashBankAccountId -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Select Cash Bank Accounts</mat-label>
                <input
                  type="text"
                  matInput
                  name="cashBankAccountId"
                  formControlName="cashBankAccountId"
                  [matAutocomplete]="auto"
                  (input)="handleCashBankAccountSearch($event)"
                  [readonly]="cashBankLoading"
                />
                <div matSuffix>
                  <button
                    (click)="clearInput($event, 'cashBankAccountId')"
                    *ngIf="paymentVoucherForm?.get('cashBankAccountId')?.value"
                    aria-label="Clear"
                    mat-icon-button
                    type="button"
                  >
                    <mat-icon>clear</mat-icon>
                  </button>
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
                <mat-autocomplete
                  #auto="matAutocomplete"
                  [displayWith]="getCashBankAccountName.bind(this)"
                >
                  <mat-option
                    *ngFor="let d of filteredCashBankAccounts"
                    [value]="d?.id"
                  >
                    {{ d.name }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error>This Field is required</mat-error>
              </mat-form-field>
            </div>

            <!-- Remark -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Remark</mat-label>
                <textarea
                  rows="1"
                  matInput
                  formControlName="remark"
                  placeholder="Leave a message..."
                ></textarea>
              </mat-form-field>
            </div>
            <!-- totalAmount -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Total Amount</mat-label>
                <input
                  matInput
                  type="number"
                  name="totalAmount"
                  placeholder="Enter Total Amount"
                  formControlName="totalAmount"
                  readonly
                />
              </mat-form-field>
            </div>
          </div>

          <!-- Details -->
          <ng-container formArrayName="paymentVoucherDetails">
            <h3 class="subheading-2">Cash Payment Voucher Details</h3>
            <mat-divider></mat-divider>
            <ng-container
              *ngFor="let p of paymentVoucherDetails.controls; let i = index"
              [formGroupName]="i"
            >
              <div class="row">
                <!-- accountId -->
                <div class="col-5">
                  <mat-form-field class="full-width">
                    <mat-label>Select Account</mat-label>
                    <input
                      type="text"
                      matInput
                      name="accountId"
                      formControlName="accountId"
                      [matAutocomplete]="auto"
                      (input)="handleControlAccountSearch($event, i)"
                    />
                    <div matSuffix>
                      <button
                        (click)="clearInputFromDetails($event, i)"
                        *ngIf="
                          paymentVoucherDetails?.at(i).get('accountId')
                            ?.value !== null &&
                          paymentVoucherDetails?.at(i).get('accountId')
                            ?.value !== ''
                        "
                        aria-label="Clear"
                        mat-icon-button
                        type="button"
                      >
                        <mat-icon>clear</mat-icon>
                      </button>
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </div>
                    <mat-autocomplete
                      #auto="matAutocomplete"
                      (optionSelected)="
                        handleControlAccountSelection($event, i)
                      "
                      [displayWith]="getControlAccountName.bind(this)"
                    >
                      <mat-option
                        *ngFor="let d of filterControlAccounts"
                        [value]="d.id"
                      >
                        ({{ d.code?.split(".")?.pop() }}) {{ d.name }}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error>Account is required</mat-error>
                  </mat-form-field>
                </div>

                <!-- accountDescription -->
                <div class="col-3">
                  <h6>Account Tree</h6>
                  <span>{{ p.get("accountDescription")?.value }} </span>
                </div>
                <!-- Amount -->
                <div class="col-3">
                  <mat-form-field class="full-width">
                    <mat-label>Amount</mat-label>
                    <input
                      matInput
                      type="number"
                      name="amount"
                      formControlName="amount"
                      min="0"
                      placeholder="0.00"
                      (change)="onControlChange($event, i)"
                      (input)="onControlChange($event, i)"
                    />
                  </mat-form-field>
                </div>

                <!-- Remove Button -->
                <div class="col-1">
                  <button
                    mat-mini-fab
                    type="button"
                    color="warn"
                    (click)="onDeleteItem(p?.get('id')?.value, i)"
                  >
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                </div>
              </div>
            </ng-container>
          </ng-container>

          <!-- Bottom Section -->
          <div class="d-flex justify-content-between">
            <!-- Button Container -->
            <div class="button-container">
              <button
                mat-mini-fab
                type="button"
                color="primary"
                (click)="addItem()"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="p-3" align="center">
          <button
            class="me-2"
            type="button"
            *ngIf="!isViewMode && this.paymentVoucherForm.get('id')?.value"
            mat-raised-button
            (click)="backToView()"
            [disabled]="this.paymentVoucherForm.invalid"
          >
            Back
          </button>
          <button
            type="submit"
            color="accent"
            mat-raised-button
            matStepperNext
            class="mr-1"
            [disabled]="this.paymentVoucherForm.invalid"
          >
            Continue
          </button>
        </div>
      </form>
    </mat-step>

    <!-- Step Review and Submit -->
    <mat-step [editable]="false">
      <form
        (ngSubmit)="onSubmit()"
        autocomplete="off"
        [formGroup]="paymentVoucherForm"
      >
        <ng-template matStepLabel
          >Review and Create Cash Payment Voucher</ng-template
        >
        <div *ngIf="isPassingDataToNextStep">
          <div class="row row-cols-2 gx-5">
            <!-- voucherType -->
            <!-- <div class="col label-data">
              <span>VoucherType</span>
              <span>
                {{
                  getVoucherTypeName(
                    paymentVoucherForm?.get("voucherType")?.value
                  )?.replaceAll("_", " ")
                }}
              </span>
            </div> -->

            <!-- Date of Payment Voucher -->
            <div class="col label-data">
              <span>Voucher Date</span>
              <span>
                {{
                  dateFormatService.getDateFormat(
                    paymentVoucherForm.get("voucherDate").value
                  )
                }}
              </span>
            </div>

            <!-- fundTransferTransactionTypeId -->
            <div class="col label-data">
              <span>Transaction Type</span>
              <span>
                {{
                  getFundTransferTransactionTypeName(
                    paymentVoucherForm?.get("fundTransferTransactionTypeId")
                      ?.value
                  )
                }}
              </span>
            </div>

            <!-- transactionNumber -->
            <div class="col label-data">
              <span>Transaction No</span>
              <span>
                {{ paymentVoucherForm.get("transactionNumber")?.value }}
              </span>
            </div>

            <!-- referenceNo -->
            <div class="col label-data">
              <span>ReferenceNo</span>
              <span>
                {{ paymentVoucherForm?.get("referenceNo")?.value }}
              </span>
            </div>

            <!-- costCenterId -->
            <div class="col label-data">
              <span>Cost Center</span>
              <span>
                {{
                  getCostCenterName(
                    paymentVoucherForm?.get("costCenterId")?.value
                  )
                }}
              </span>
            </div>

            <!-- paymentModeId -->
            <div class="col label-data">
              <span>Payment Mode</span>
              <span>
                {{
                  getPaymentModeName(
                    paymentVoucherForm?.get("paymentModeId")?.value
                  )
                }}
              </span>
            </div>

            <!-- cashBankAccountId -->
            <div class="col label-data">
              <span>Cash/Bank Account</span>
              <span>
                {{
                  getCashBankAccountName(
                    paymentVoucherForm?.get("cashBankAccountId")?.value
                  )
                }}
              </span>
            </div>

            <!-- Remark -->
            <div class="col label-data">
              <span>Remark</span>
              <span>
                {{ paymentVoucherForm?.get("remark")?.value }}
              </span>
            </div>

            <!-- totalAmount -->
            <div class="col label-data">
              <span>Total Amount</span>
              <span>
                {{ paymentVoucherForm?.get("totalAmount")?.value }}
              </span>
            </div>
          </div>

          <!-- Start of Form Array -->
          <div>
            <ng-container>
              <app-payment-voucher-detail
                [data]="paymentVoucherDetailsData"
              ></app-payment-voucher-detail>
            </ng-container>
          </div>
        </div>

        <!-- Action Button -->
        <div class="p-3" *ngIf="!isViewMode" align="center">
          <button
            class="me-2"
            mat-raised-button
            matStepperPrevious
            (click)="isLoading = false"
            type="button"
          >
            Back
          </button>
          <!-- <button-loading
              [loadingText]="'Processing...'"
              color="warn"
              [type]="'submit'"
              [loading]="isLoading"
              [disabled]="this.paymentVoucherForm.invalid || isLoading"
            >
              Save
            </button-loading> -->
          <button
            mat-raised-button
            color="accent"
            type="submit"
            [disabled]="this.paymentVoucherForm.invalid || isLoading"
          >
            <ng-container *ngIf="isLoading; else saveText">
              <mat-icon>
                <mat-spinner diameter="20"></mat-spinner>
              </mat-icon>
              {{ "Processing..." }}
            </ng-container>
            <ng-template #saveText>
              {{ "Save" }}
            </ng-template>
          </button>
        </div>
      </form>
      <!-- <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div> -->
    </mat-step>
  </mat-stepper>
</div>
