<h2 mat-dialog-title>{{ formTitle }}</h2>
<form [formGroup]="tenantForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <input mat type="hidden" formControlName="id" />

    <mat-form-field>
      <mat-label>Code</mat-label>
      <input
        matInput
        autocomplete="off"
        placeholder="Code"
        formControlName="code"
        readonly
        />
        @if (
          tenantForm.controls['code'].hasError('required') &&
          tenantForm.controls['code'].touched
          ) {
          <mat-error
            >
            Tenant code is required
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tenant Name</mat-label>
        <input
          matInput
          autocomplete="off"
          placeholder="Enter tenant name"
          formControlName="name"
          />
          @if (
            tenantForm.controls['name'].hasError('required') &&
            tenantForm.controls['name'].touched
            ) {
            <mat-error
              >
              Tenant name is required
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Time Zone</mat-label>
          <input
            matInput
            autocomplete="off"
            placeholder="Enter tenant name"
            formControlName="timeZoneId"
            />
            @if (
              tenantForm.controls['timeZoneId'].hasError('required') &&
              tenantForm.controls['timeZoneId'].touched
              ) {
              <mat-error
                >
                Time Zone is required
              </mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Address</mat-label>
            <input
              matInput
              autocomplete="off"
              placeholder="Enter address"
              formControlName="address"
              />
              @if (
                tenantForm.controls['address'].hasError('required') &&
                tenantForm.controls['address'].touched
                ) {
                <mat-error
                  >
                  Address is required
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>Contact No</mat-label>
              <input
                matInput
                autocomplete="off"
                placeholder="Enter contact no."
                formControlName="contactNo"
                />
                @if (
                  tenantForm.controls['contactNo'].hasError('required') &&
                  tenantForm.controls['contactNo'].touched
                  ) {
                  <mat-error
                    >
                    Contact No is required
                  </mat-error>
                }
              </mat-form-field>

              <mat-form-field>
                <mat-label>BIN No</mat-label>
                <input
                  matInput
                  autocomplete="off"
                  placeholder="Enter BIN No."
                  formControlName="binno"
                  />
                  @if (
                    tenantForm.controls['binno'].hasError('required') &&
                    tenantForm.controls['binno'].touched
                    ) {
                    <mat-error
                      >
                      BIN No is required
                    </mat-error>
                  }
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    autocomplete="off"
                    placeholder="Enter email"
                    formControlName="email"
                    />
                    @if (
                      tenantForm.controls['email'].hasError('required') &&
                      tenantForm.controls['email'].touched
                      ) {
                      <mat-error
                        >
                        Email is required
                      </mat-error>
                    }
                  </mat-form-field>
                </mat-dialog-content>
                <mat-dialog-actions align="end">
                  <button mat-raised-button mat-dialog-close>Cancel</button>
                  <button
                    mat-raised-button
                    [mat-dialog-close]="true"
                    cdkFocusInitial
                    color="primary"
                    [disabled]="!tenantForm.dirty || !tenantForm.valid"
                    type="submit"
                    >
                    Save
                  </button>
                </mat-dialog-actions>
              </form>
