<div class="container-fluid">
  <div *ngIf="isViewMode" class="d-flex justify-content-between">
    <div class="d-flex gap-2 align-items-center">
      <button mat-icon-button (click)="navigateToList()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h3 class="m-0">Purchase Return No: {{ data?.purchaseReturnNo }}</h3>
      <mat-chip
        class="align-middle py-4 px-8"
        [color]="getPurchaseReturnStatus(data?.status)?.color"
        selected
      >
        {{ getPurchaseReturnStatusName(data?.status)?.replaceAll("_", " ") }}
      </mat-chip>
      <button
        mat-icon-button
        color="primary"
        matTooltip="print pdf"
        matTooltipShowDelay="300"
        matTooltipPosition="above"
        (click)="printPdf(data?.id)"
      >
        <mat-icon>print</mat-icon>
      </button>
      <button
        *appHasPermission="['Permissions.PurchaseReturns.Edit']"
        [hidden]="
          data?.status > 2 || data?.financialYearId != currentFinancialYearId
        "
        mat-icon-button
        color="primary"
        matTooltip="Edit"
        matTooltipShowDelay="300"
        matTooltipPosition="above"
        (click)="showEdit()"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div>
      <button
        #btnCheck
        *appHasPermission="['Permissions.PurchaseReturns.Check']"
        [hidden]="
          data?.status != 1 || data?.financialYearId != currentFinancialYearId
        "
        mat-raised-button
        type="button"
        color="accent"
        [disabled]="isDialogOpen || isLoading"
        (click)="confirmCheck(data?.id, data?.purchaseReturnNo)"
      >
        <ng-container *ngIf="isLoading; else saveText">
          <mat-icon>
            <mat-spinner diameter="20"></mat-spinner>
          </mat-icon>
          {{ "Processing..." }}
        </ng-container>
        <ng-template #saveText>
          {{ "Check" }}
        </ng-template>
      </button>

      <button
        #btnApprove
        *appHasPermission="['Permissions.PurchaseReturns.Approve']"
        [hidden]="
          data?.status != 2 || data?.financialYearId != currentFinancialYearId
        "
        mat-raised-button
        color="primary"
        type="button"
        [disabled]="isDialogOpen || isLoading"
        (click)="confirmApprove(data?.id, data?.purchaseReturnNo)"
      >
        <ng-container *ngIf="isLoading; else saveText">
          <mat-icon>
            <mat-spinner diameter="20"></mat-spinner>
          </mat-icon>
          {{ "Processing..." }}
        </ng-container>
        <ng-template #saveText>
          {{ "Approve" }}
        </ng-template>
      </button>

      <button
        *appHasPermission="['Permissions.PurchaseReturns.Unpost']"
        [hidden]="
          data?.status == 1 ||
          data?.status === 'undefined' ||
          data?.financialYearId != currentFinancialYearId
        "
        type="button"
        mat-mini-fab
        color="warn"
        matTooltip="Undo"
        matTooltipShowDelay="300"
        matTooltipPosition="above"
        [disabled]="isDialogOpen || isLoading"
        (click)="confirmUnpost(data?.id, data?.purchaseReturnNo, data?.status)"
      >
        <ng-container *ngIf="isLoading; else undo">
          <mat-icon>
            <mat-spinner diameter="20"></mat-spinner>
          </mat-icon>
        </ng-container>
        <ng-template #undo>
          <mat-icon>undo</mat-icon>
        </ng-template>
      </button>
    </div>
  </div>
  <mat-stepper
    class="mat-stepper-card"
    (selectionChange)="handleStepChange($event)"
    [disableRipple]="true"
    [linear]="true"
    #stepper
  >
    <mat-step [stepControl]="purchaseReturnForm">
      <form autocomplete="off" [formGroup]="purchaseReturnForm">
        <ng-template matStepLabel>Purchase Return Form</ng-template>
        <div>
          <div class="row row-cols-3 gx-5">
            <!-- grnno -->
            <div class="col d-flex">
              <mat-form-field class="full-width">
                <mat-label>GRN No.</mat-label>
                <input matInput name="grnno" formControlName="grnno" />
              </mat-form-field>
              <button
                [hidden]="this.data?.id"
                type="button"
                mat-icon-button
                color="primary"
                (click)="openGRNDialog()"
              >
                <mat-icon>help</mat-icon>
              </button>
            </div>
            <!-- referenceNo -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Reference No</mat-label>
                <input
                  type="text"
                  matInput
                  autocomplete="off"
                  placeholder="Enter Reference No."
                  formControlName="referenceNo"
                />
              </mat-form-field>
            </div>

            <!-- storeId -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Select Store</mat-label>
                <mat-select formControlName="storeId">
                  <mat-option [value]="null">-- None --</mat-option>
                  <mat-option *ngFor="let d of stores" [value]="d?.id">
                    {{ d?.name }}
                  </mat-option>
                </mat-select>
                <mat-error>Store is required</mat-error>
              </mat-form-field>
            </div>

            <!-- supplierId -->
            <!-- (selectionChange)="onSelectedSupplier($event.value)" -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Select Supplier</mat-label>
                <input
                  type="text"
                  matInput
                  name="supplierId"
                  formControlName="supplierId"
                  [matAutocomplete]="auto"
                  (input)="handleSupplierSearch($event)"
                />
                <div matSuffix>
                  <button
                    (click)="clearInput($event, 'supplierId')"
                    *ngIf="purchaseReturnForm?.get('supplierId')?.value"
                    aria-label="Clear"
                    mat-icon-button
                    type="button"
                  >
                    <mat-icon>clear</mat-icon>
                  </button>
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
                <mat-autocomplete
                  #auto="matAutocomplete"
                  [displayWith]="getSupplierName.bind(this)"
                >
                  <mat-option
                    matTooltip="{{ d.address }}"
                    *ngFor="let d of filterSuppliers"
                    [value]="d.id"
                  >
                    {{ d.name }} ({{ d.code.slice(-4) }}) {{ d.address }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error>Supplier is required</mat-error>
              </mat-form-field>
            </div>

            <!-- purchaseReturnDate -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Return Date</mat-label>
                <input
                  #input2
                  matInput
                  name="purchaseReturnDate"
                  [matDatepicker]="picker2"
                  [min]="applyMinMax ? financialYearStartDate : null"
                  [max]="applyMinMax ? financialYearEndDate : null"
                  formControlName="purchaseReturnDate"
                  (focus)="picker2.open()"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker2"
                  (closed)="input2.blur()"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #picker2
                  (closed)="input2.blur()"
                ></mat-datepicker>
                <mat-error
                  *ngIf="
                    purchaseReturnForm
                      .get('purchaseReturnDate')
                      .hasError('required')
                  "
                >
                  Return Date is required.
                </mat-error>
                <mat-error
                  *ngIf="
                    purchaseReturnForm
                      .get('purchaseReturnDate')
                      .hasError('inFinancialYear')
                  "
                >
                  Please choose a date within the financial year period:
                  {{ financialYearStartDate | date : "mediumDate" }} -
                  {{ financialYearEndDate | date : "mediumDate" }}.
                </mat-error>
              </mat-form-field>
            </div>

            <!-- remark -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Remark</mat-label>
                <textarea
                  rows="1"
                  matInput
                  autocomplete="off"
                  placeholder="Leave a message..."
                  formControlName="remark"
                ></textarea>
              </mat-form-field>
            </div>
          </div>

          <!-- Details Table -->
          <ng-container formArrayName="purchaseReturnDetails">
            <h3 class="subheading-2">Purchase Return Details</h3>
            <mat-divider></mat-divider>
            <ng-container
              *ngFor="let p of purchaseReturnDetails?.controls; let i = index"
              [formGroupName]="i"
            >
              <div class="row">
                <div class="col-2">
                  <!-- Product Autocomplete -->
                  <mat-form-field
                    class="full-width"
                    matTooltip="Product"
                    matTooltipPosition="above"
                  >
                    <mat-label>Product</mat-label>
                    <input
                      type="text"
                      placeholder="Search Product"
                      aria-label="Filter Product"
                      matInput
                      name="productId"
                      formControlName="productId"
                      [matAutocomplete]="product"
                      (input)="handleProductSearch($event, i)"
                    />
                    <div matSuffix>
                      <button
                        (click)="clearInputFromDetails($event, i)"
                        *ngIf="
                          purchaseReturnDetails?.at(i).get('productId')?.value
                        "
                        aria-label="Clear"
                        mat-icon-button
                        type="button"
                      >
                        <mat-icon>clear</mat-icon>
                      </button>
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </div>
                    <mat-autocomplete
                      autoActiveFirstOption
                      #product="matAutocomplete"
                      (optionSelected)="handleProductSelection($event, i)"
                      [displayWith]="getProductName.bind(this)"
                    >
                      <mat-option
                        *ngFor="let product of searchProducts"
                        [value]="product?.id"
                      >
                        {{ product.name }}
                        {{
                          businessType === "2"
                            ? ""
                            : "(" + product?.packSize?.name + ")"
                        }}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error>Product is required</mat-error>
                  </mat-form-field>
                </div>

                <!-- Measurement Unit -->
                <div class="col-1">
                  <mat-form-field
                    class="full-width"
                    matTooltip="Unit"
                    matTooltipPosition="above"
                  >
                    <mat-label>Unit</mat-label>
                    <input
                      matInput
                      name="measurementUnitName"
                      formControlName="measurementUnitName"
                      readonly
                    />
                  </mat-form-field>
                </div>

                <!-- grnquantity -->
                <div class="col-1">
                  <mat-form-field
                    class="full-width"
                    matTooltip="GRN Qty"
                    matTooltipPosition="above"
                  >
                    <mat-label>GRN Qty</mat-label>
                    <input
                      matInput
                      name="grnquantity"
                      formControlName="grnquantity"
                      readonly
                    />
                  </mat-form-field>
                </div>

                <!-- grnBagWeightDeductionQty -->
                <div class="col-1">
                  <mat-form-field
                    class="full-width"
                    matTooltip="GRN Deduction Qty"
                    matTooltipPosition="above"
                  >
                    <mat-label>GRN Deduction Qty</mat-label>
                    <input
                      matInput
                      name="grnBagWeightDeductionQty"
                      formControlName="grnBagWeightDeductionQty"
                      readonly
                    />
                  </mat-form-field>
                </div>

                <!-- QTY -->
                <div class="col-1">
                  <mat-form-field
                    class="full-width"
                    matTooltip="Return QTY"
                    matTooltipPosition="above"
                  >
                    <mat-label>Return QTY</mat-label>
                    <input
                      matInput
                      type="number"
                      name="quantity"
                      formControlName="quantity"
                      min="0"
                      (change)="onControlChange($event, i)"
                      (input)="onControlChange($event, i)"
                      (click)="$event.target.select()"
                    />
                    <mat-error>Return Quantity is required</mat-error>
                  </mat-form-field>
                </div>

                <!-- numberOfBagQuantity -->
                <div class="col-1">
                  <mat-form-field
                    class="full-width"
                    matTooltip="Number of Bag"
                    matTooltipPosition="above"
                  >
                    <mat-label>Number of Bag</mat-label>
                    <input
                      matInput
                      type="number"
                      name="numberOfBagQuantity"
                      formControlName="numberOfBagQuantity"
                      min="0"
                      placeholder="0.00"
                      (change)="onControlChange($event, i)"
                      (input)="onControlChange($event, i)"
                      (click)="$event.target.select()"
                    />
                  </mat-form-field>
                </div>

                <!-- bagWeightDeductionQty -->
                <div class="col-1">
                  <mat-form-field
                    class="full-width"
                    matTooltip="Deduction Qty"
                    matTooltipPosition="above"
                  >
                    <mat-label>Deduction Qty</mat-label>
                    <input
                      matInput
                      type="number"
                      name="bagWeightDeductionQty"
                      formControlName="bagWeightDeductionQty"
                      min="0"
                      (change)="onControlChange($event, i)"
                      (input)="onControlChange($event, i)"
                      (click)="$event.target.select()"
                    />
                  </mat-form-field>
                </div>

                <!-- netQuantity -->
                <div class="col-1">
                  <mat-form-field
                    class="full-width"
                    matTooltip="Net Qty"
                    matTooltipPosition="above"
                  >
                    <mat-label>Net Qty</mat-label>
                    <input
                      matInput
                      name="netQuantity"
                      formControlName="netQuantity"
                      readonly
                    />
                  </mat-form-field>
                </div>

                <div class="col-1">
                  <mat-form-field
                    class="full-width"
                    matTooltip="Rate"
                    matTooltipPosition="above"
                  >
                    <mat-label>Rate</mat-label>
                    <input
                      matInput
                      type="number"
                      name="rate"
                      formControlName="rate"
                      min="0"
                      placeholder="0.00"
                      (change)="onControlChange($event, i)"
                      (input)="onControlChange($event, i)"
                      (click)="$event.target.select()"
                    />
                    <mat-error>Rate per unit is required</mat-error>
                  </mat-form-field>
                </div>

                <!-- amount -->
                <div class="col-1">
                  <mat-form-field
                    class="full-width"
                    matTooltip="Amount"
                    matTooltipPosition="above"
                  >
                    <mat-label>Amount</mat-label>
                    <input
                      matInput
                      type="number"
                      name="amount"
                      formControlName="amount"
                      placeholder="0.00"
                      readonly
                    />
                  </mat-form-field>
                </div>

                <div class="col-1">
                  <button
                    mat-mini-fab
                    type="button"
                    color="warn"
                    (click)="onDeleteItem(p?.get('id')?.value, i)"
                  >
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <!-- End of Form Array -->

          <div class="d-flex justify-content-between">
            <div class="button-container">
              <button
                mat-mini-fab
                type="button"
                color="primary"
                (click)="addItem()"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <div style="width: 150px">
              <!-- totalAmount -->
              <div class="label-data justify-content-between">
                <span>Total</span>
                <span>
                  {{
                    purchaseReturnForm?.get("totalAmount")?.value
                      | currency : "BDT" : "" : "1.2-2"
                  }}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="p-3" align="center">
          <button
            class="me-2"
            type="button"
            *ngIf="!isViewMode && this.purchaseReturnForm.get('id')?.value"
            mat-raised-button
            (click)="backToView()"
            [disabled]="this.purchaseReturnForm.invalid"
          >
            Back
          </button>
          <button
            type="submit"
            color="accent"
            mat-raised-button
            matStepperNext
            class="mr-1"
            [disabled]="this.purchaseReturnForm.invalid"
          >
            Continue
          </button>
        </div>
      </form>
    </mat-step>

    <!-- Step Review and Submit -->
    <mat-step [editable]="false">
      <form
        (ngSubmit)="onSubmit()"
        autocomplete="off"
        [formGroup]="purchaseReturnForm"
      >
        <ng-template matStepLabel
          >Review and Create Purchase Return</ng-template
        >
        <div *ngIf="isPassingDataToNextStep">
          <div class="row row-cols-3 gx-5">
            <!-- referenceNo -->
            <div class="col label-data">
              <span>Reference No</span>
              <span>
                {{ purchaseReturnForm.get("referenceNo")?.value }}
              </span>
            </div>

            <!-- storeId -->
            <div class="col label-data">
              <span>Store</span>
              <span>
                {{ getStoreName(purchaseReturnForm?.get("storeId")?.value) }}
              </span>
            </div>

            <!-- supplierId -->
            <div class="col label-data">
              <span>Supplier</span>
              <span>
                {{
                  getSupplierName(purchaseReturnForm?.get("supplierId")?.value)
                }}
              </span>
            </div>

            <!-- purchaseReturnDate  -->
            <div class="col label-data">
              <span>Return Date</span>
              <span>
                {{
                  dateFormatService.getDateFormat(
                    purchaseReturnForm.get("purchaseReturnDate")?.value
                  )
                }}
              </span>
            </div>

            <!-- Remark -->
            <div class="col label-data">
              <span>Remark</span>
              <span>
                {{ purchaseReturnForm?.get("remark")?.value }}
              </span>
            </div>
          </div>

          <!-- Details Table -->
          <div>
            <ng-container>
              <app-purchase-return-detail
                [data]="purchaseReturnDetailsData"
              ></app-purchase-return-detail>
            </ng-container>
          </div>

          <!-- Calculation Container -->
          <div class="calculation-align-right">
            <div>
              <!-- totalAmount -->
              <div class="label-data justify-content-between">
                <span>Total</span>
                <span>
                  {{
                    purchaseReturnForm?.get("totalAmount")?.value
                      | currency : "BDT" : "" : "1.2-2"
                  }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- Action Button -->
        <div class="p-3" *ngIf="!isViewMode" align="center">
          <button
            class="me-2"
            mat-raised-button
            matStepperPrevious
            (click)="isLoading = false"
            type="button"
          >
            Back
          </button>
          <button
            mat-raised-button
            color="accent"
            type="submit"
            class="mr-1"
            [disabled]="this.purchaseReturnForm.invalid || isLoading"
          >
            <ng-container *ngIf="isLoading; else saveText">
              <mat-icon>
                <mat-spinner diameter="20"></mat-spinner>
              </mat-icon>
              {{ "Processing..." }}
            </ng-container>
            <ng-template #saveText>
              {{ "Save" }}
            </ng-template>
          </button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>

<!-- loader start -->
<!-- <ng-container *ngIf="isLoading">
  <app-loading-skeleton></app-loading-skeleton>
</ng-container> -->
<!-- loader end -->
