<div class="container-fluid">
  <div *ngIf="isViewMode" class="d-flex justify-content-between">
    <div class="d-flex gap-2 align-items-center">
      <button mat-icon-button (click)="navigateToList()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h3 class="m-0">Sale Return No: {{ data?.saleReturnNo }}</h3>
      <mat-chip
        class="align-middle py-4 px-8"
        [color]="getSaleReturnStatus(data?.status)?.color"
        selected
      >
        {{ getSaleReturnStatusName(data?.status)?.replaceAll("_", " ") }}
      </mat-chip>
      <button
        mat-icon-button
        color="primary"
        matTooltip="print pdf"
        matTooltipShowDelay="300"
        matTooltipPosition="above"
        (click)="printPdf(data?.id)"
      >
        <mat-icon>print</mat-icon>
      </button>
      <button
        *appHasPermission="['Permissions.SaleReturns.Edit']"
        [hidden]="
          data?.status > 2 || data?.financialYearId != currentFinancialYearId
        "
        mat-icon-button
        color="primary"
        matTooltip="Edit"
        matTooltipShowDelay="300"
        matTooltipPosition="above"
        (click)="showEdit()"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div>
      <button
        #btnCheck
        *appHasPermission="['Permissions.SaleReturns.Check']"
        [hidden]="
          data?.status != 1 || data?.financialYearId != currentFinancialYearId
        "
        mat-raised-button
        type="button"
        color="accent"
        [disabled]="isDialogOpen || isLoading"
        (click)="confirmCheck(data?.id, data?.saleReturnNo)"
      >
        <ng-container *ngIf="isLoading; else saveText">
          <mat-icon>
            <mat-spinner diameter="20"></mat-spinner>
          </mat-icon>
          {{ "Processing..." }}
        </ng-container>
        <ng-template #saveText>
          {{ "Check" }}
        </ng-template>
      </button>

      <button
        #btnApprove
        *appHasPermission="['Permissions.SaleReturns.Approve']"
        [hidden]="
          data?.status != 2 || data?.financialYearId != currentFinancialYearId
        "
        mat-raised-button
        color="primary"
        type="button"
        [disabled]="isDialogOpen || isLoading"
        (click)="confirmApprove(data?.id, data?.saleReturnNo)"
      >
        <ng-container *ngIf="isLoading; else saveText">
          <mat-icon>
            <mat-spinner diameter="20"></mat-spinner>
          </mat-icon>
          {{ "Processing..." }}
        </ng-container>
        <ng-template #saveText>
          {{ "Approve" }}
        </ng-template>
      </button>

      <button
        *appHasPermission="['Permissions.SaleReturns.Unpost']"
        [hidden]="
          data?.status == 1 ||
          data?.status === 'undefined' ||
          data?.financialYearId != currentFinancialYearId
        "
        type="button"
        mat-mini-fab
        color="warn"
        matTooltip="Undo"
        matTooltipShowDelay="300"
        matTooltipPosition="above"
        [disabled]="isDialogOpen || isLoading"
        (click)="confirmUnpost(data?.id, data?.saleReturnNo, data?.status)"
      >
        <ng-container *ngIf="isLoading; else undo">
          <mat-icon>
            <mat-spinner diameter="20"></mat-spinner>
          </mat-icon>
        </ng-container>
        <ng-template #undo>
          <mat-icon>undo</mat-icon>
        </ng-template>
      </button>
    </div>
  </div>
  <mat-stepper
    class="mat-stepper-card"
    (selectionChange)="handleStepChange($event)"
    [disableRipple]="true"
    [linear]="true"
    #stepper
  >
    <mat-step [stepControl]="saleReturnForm">
      <form autocomplete="off" [formGroup]="saleReturnForm">
        <ng-template matStepLabel>Sale Return Form</ng-template>
        <div>
          <div class="row row-cols-3 gx-5">
            <!-- InvoiceNo -->
            <div class="col d-flex" *ngIf="businessType === '1'">
              <mat-form-field class="full-width">
                <mat-label>Sale Invoice No.</mat-label>
                <input
                  matInput
                  name="invoiceNo"
                  formControlName="invoiceNo"
                  readonly
                />
                <mat-error>Sale Invoice No is required</mat-error>
              </mat-form-field>
              <button
                [hidden]="this.data?.id"
                type="button"
                mat-icon-button
                color="primary"
                (click)="openSaleInvoiceDialog()"
              >
                <mat-icon>help</mat-icon>
              </button>
            </div>

            <!-- deliveryNoteNo -->
            <div class="col d-flex" *ngIf="businessType === '2'">
              <mat-form-field class="full-width">
                <mat-label>Delivery Note No.</mat-label>
                <input
                  matInput
                  name="deliveryNoteNo"
                  formControlName="deliveryNoteNo"
                  readonly
                />
                <mat-error>Delivery Note No is required</mat-error>
              </mat-form-field>
              <button
                [hidden]="this.data?.id"
                type="button"
                mat-icon-button
                color="primary"
                (click)="openDeliveryNoteDialog()"
              >
                <mat-icon>help</mat-icon>
              </button>
            </div>

            <!-- referenceNo -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Reference No</mat-label>
                <input
                  type="text"
                  matInput
                  autocomplete="off"
                  placeholder="Enter Reference No."
                  formControlName="referenceNo"
                />
              </mat-form-field>
            </div>

            <!-- storeId -->
            <!-- <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Select Store</mat-label>
                <mat-select formControlName="storeId">
                  <mat-option [value]="null">-- None --</mat-option>
                  <mat-option *ngFor="let d of stores" [value]="d?.id">
                    {{ d?.name }}
                  </mat-option>
                </mat-select>
                <mat-error>Store is required</mat-error>
              </mat-form-field>
            </div> -->

            <!-- storeId -->
            <!-- (selectionChange)="onSelectedCustomer($event.value)" -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Select Store</mat-label>
                <input
                  type="text"
                  matInput
                  name="storeId"
                  formControlName="storeId"
                  [matAutocomplete]="autoStore"
                  (input)="handleStoreSearch($event)"
                  readonly
                />
                <!-- <div matSuffix>
                  <button
                    [hidden]="this.data?.id"
                    (click)="clearInput($event, 'storeId')"
                    *ngIf="
                      saleReturnForm?.get('storeId')?.value !== null &&
                      saleReturnForm?.get('storeId')?.value !== ''
                    "
                    aria-label="Clear"
                    mat-icon-button
                    type="button"
                  >
                    <mat-icon>clear</mat-icon>
                  </button>
                </div> -->
                <mat-autocomplete
                  #autoStore="matAutocomplete"
                  [displayWith]="getStoreName.bind(this)"
                >
                  <mat-option *ngFor="let d of filterStores" [value]="d.id">
                    {{ d.name }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error>Store is required</mat-error>
              </mat-form-field>
            </div>

            <!-- customerId -->
            <!-- (selectionChange)="onSelectedCustomer($event.value)" -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Select Customer</mat-label>
                <input
                  type="text"
                  matInput
                  name="customerId"
                  formControlName="customerId"
                  [matAutocomplete]="auto"
                  (input)="handleCustomerSearch($event)"
                  readonly
                />
                <!-- <div matSuffix>
                  <button
                    [hidden]="this.data?.id"
                    (click)="clearInput($event, 'customerId')"
                    *ngIf="
                      saleReturnForm?.get('customerId')?.value !== null &&
                      saleReturnForm?.get('customerId')?.value !== ''
                    "
                    aria-label="Clear"
                    mat-icon-button
                    type="button"
                  >
                    <mat-icon>clear</mat-icon>
                  </button>
                </div> -->
                <mat-autocomplete
                  #auto="matAutocomplete"
                  [displayWith]="getCustomerName.bind(this)"
                >
                  <mat-option
                    matTooltip="{{ d.address }}"
                    *ngFor="let d of filterCustomers"
                    [value]="d.id"
                  >
                    ({{ d.code.slice(-4) }}) {{ d.name }} {{ d.address }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error>Customer is required</mat-error>
              </mat-form-field>
            </div>

            <!-- saleReturnDate -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Return Date</mat-label>
                <input
                  #input2
                  matInput
                  name="saleReturnDate"
                  [matDatepicker]="picker2"
                  [min]="applyMinMax ? financialYearStartDate : null"
                  [max]="applyMinMax ? financialYearEndDate : null"
                  formControlName="saleReturnDate"
                  (focus)="picker2.open()"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker2"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #picker2
                  (closed)="input2.blur()"
                ></mat-datepicker>
                <mat-error
                  *ngIf="
                    saleReturnForm.get('saleReturnDate').hasError('required')
                  "
                  >Return Date is required</mat-error
                >
                <mat-error
                  *ngIf="
                    saleReturnForm
                      .get('saleReturnDate')
                      .hasError('inFinancialYear')
                  "
                >
                  Please choose a date within the financial year period:
                  {{ financialYearStartDate | date : "mediumDate" }} -
                  {{ financialYearEndDate | date : "mediumDate" }}.
                </mat-error>
              </mat-form-field>
            </div>

            <!-- remark -->
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Remark</mat-label>
                <textarea
                  rows="1"
                  matInput
                  autocomplete="off"
                  placeholder="Leave a message..."
                  formControlName="remark"
                ></textarea>
              </mat-form-field>
            </div>
          </div>

          <!-- Details Table -->
          <ng-container formArrayName="saleReturnDetails">
            <h3 class="subheading-2">Sale Return Details</h3>
            <mat-divider></mat-divider>
            <ng-container
              *ngFor="let p of saleReturnDetails?.controls; let i = index"
              [formGroupName]="i"
            >
              <div class="row">
                <div class="col-3">
                  <!-- Product Autocomplete -->
                  <mat-form-field
                    class="full-width"
                    matTooltip="Product"
                    matTooltipPosition="above"
                  >
                    <mat-label>Product</mat-label>
                    <input
                      type="text"
                      placeholder="Search Product"
                      aria-label="Filter Product"
                      matInput
                      name="productId"
                      formControlName="productId"
                      [matAutocomplete]="product"
                      (input)="handleProductSearch($event, i)"
                      readonly
                    />
                    <!-- <div matSuffix>
                      <button
                        [hidden]="this.data?.id"
                        (click)="clearInputFromDetails($event, i)"
                        *ngIf="
                          saleReturnDetails?.at(i).get('productId')?.value !==
                            null &&
                          saleReturnDetails?.at(i).get('productId')?.value !==
                            ''
                        "
                        aria-label="Clear"
                        mat-icon-button
                        type="button"
                      >
                        <mat-icon>clear</mat-icon>
                      </button>
                    </div> -->
                    <mat-autocomplete
                      autoActiveFirstOption
                      #product="matAutocomplete"
                      (optionSelected)="handleProductSelection($event, i)"
                      [displayWith]="getProductName.bind(this)"
                    >
                      <mat-option
                        *ngFor="let product of searchProducts"
                        [value]="product?.id"
                      >
                        {{ product.name }}
                        ({{
                          businessType === "2"
                            ? product?.bagWeight +
                              " " +
                              product?.measurementUnit?.name
                            : product?.packSize?.name
                        }})
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error>Product is required</mat-error>
                  </mat-form-field>
                </div>

                <!-- Measurement Unit -->
                <div class="col-1">
                  <mat-form-field
                    class="full-width"
                    matTooltip="Unit"
                    matTooltipPosition="above"
                  >
                    <mat-label>Unit</mat-label>
                    <input
                      matInput
                      name="measurementUnitName"
                      formControlName="measurementUnitName"
                      readonly
                    />
                  </mat-form-field>
                </div>

                <!-- bagWeight -->
                <div class="col-1" *ngIf="businessType === '2'">
                  <mat-form-field
                    class="full-width"
                    matTooltip="Bag Weight"
                    matTooltipPosition="above"
                  >
                    <mat-label>Bag Weight</mat-label>
                    <input
                      matInput
                      name="bagWeight"
                      formControlName="bagWeight"
                      readonly
                    />
                  </mat-form-field>
                </div>

                <!--Bag QTY -->
                <div class="col-1">
                  <mat-form-field
                    class="full-width"
                    [matTooltip]="
                      businessType === '1'
                        ? 'Delivered QTY'
                        : 'Delivered Bag QTY'
                    "
                    matTooltipPosition="above"
                  >
                    <mat-label *ngIf="businessType === '1'"
                      >Delivered QTY</mat-label
                    >
                    <mat-label *ngIf="businessType === '2'"
                      >Delivered Bag QTY</mat-label
                    >
                    <input
                      matInput
                      type="number"
                      name="primaryQuantity"
                      formControlName="primaryQuantity"
                      min="0"
                      (click)="$event.target.select()"
                      (change)="onControlChange($event, i)"
                      (input)="onControlChange($event, i)"
                      readonly
                    />
                    <mat-error>This field is required </mat-error>
                  </mat-form-field>
                </div>

                <!-- QTY -->
                <div class="col-1" *ngIf="businessType === '2'">
                  <mat-form-field
                    class="full-width"
                    matTooltip="Delivered QTY"
                    matTooltipPosition="above"
                  >
                    <mat-label>Delivered QTY</mat-label>
                    <input
                      matInput
                      type="number"
                      name="quantity"
                      formControlName="quantity"
                      min="0"
                      (change)="onControlChange($event, i)"
                      (input)="onControlChange($event, i)"
                      readonly
                    />
                    <mat-error>Delivered Quantity is required </mat-error>
                  </mat-form-field>
                </div>

                <!--Delivered Primary Bonus QTY -->
                <div class="col-1">
                  <mat-form-field
                    class="full-width"
                    [matTooltip]="
                      businessType === '1'
                        ? 'Delivered Bonus QTY'
                        : 'Delivered Bonus Bag QTY'
                    "
                    matTooltipPosition="above"
                  >
                    <mat-label *ngIf="businessType === '1'"
                      >Delivered Bonus QTY</mat-label
                    >
                    <mat-label *ngIf="businessType === '2'"
                      >Delivered Bonus Bag QTY</mat-label
                    >
                    <input
                      matInput
                      type="number"
                      name="primaryBonusQuantity"
                      formControlName="primaryBonusQuantity"
                      min="0"
                      (click)="$event.target.select()"
                      (change)="onControlChange($event, i)"
                      (input)="onControlChange($event, i)"
                      readonly
                    />
                    <mat-error>This field is required </mat-error>
                  </mat-form-field>
                </div>

                <!--Delivered  Bonus QTY -->
                <div class="col-1" *ngIf="businessType === '2'">
                  <mat-form-field
                    class="full-width"
                    matTooltip="Delivered Bonus QTY"
                    matTooltipPosition="above"
                  >
                    <mat-label>Delivered Bonus QTY</mat-label>
                    <input
                      matInput
                      type="number"
                      name="bonusQuantity"
                      formControlName="bonusQuantity"
                      min="0"
                      (change)="onControlChange($event, i)"
                      (input)="onControlChange($event, i)"
                      readonly
                    />
                    <mat-error>Delivered Bonus Quantity is required </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-1">
                  <mat-form-field
                    class="full-width"
                    matTooltip="Rate"
                    matTooltipPosition="above"
                  >
                    <mat-label>Rate</mat-label>
                    <input
                      matInput
                      type="number"
                      name="rate"
                      formControlName="rate"
                      min="0"
                      placeholder="0.00"
                      (change)="onControlChange($event, i)"
                      (input)="onControlChange($event, i)"
                      readonly
                    />
                    <mat-error>Rate per unit is required</mat-error>
                  </mat-form-field>
                </div>
                <!-- returnPrimaryQuantity -->
                <div class="col-1">
                  <mat-form-field
                    class="full-width"
                    [matTooltip]="
                      businessType === '1'
                        ? 'Return Quantity'
                        : 'Return Bag Quantity'
                    "
                    matTooltipPosition="above"
                  >
                    <mat-label *ngIf="businessType === '1'"
                      >Return QTY</mat-label
                    >
                    <mat-label *ngIf="businessType === '2'"
                      >Return Bag QTY</mat-label
                    >

                    <input
                      matInput
                      type="number"
                      name="returnPrimaryQuantity"
                      formControlName="returnPrimaryQuantity"
                      min="0"
                      placeholder="0"
                      (change)="onControlChange($event, i)"
                      (input)="onControlChange($event, i)"
                    />
                    <mat-error>This field is required</mat-error>
                    <mat-hint
                      style="color: red"
                      *ngIf="
                        p.hasError('returnQuantityExceedsDeliveredQuantity')
                      "
                      >{{
                        p.getError("returnQuantityExceedsDeliveredQuantity")
                      }}</mat-hint
                    >
                  </mat-form-field>
                </div>

                <!-- returnQuantity -->
                <div class="col-1" *ngIf="businessType === '2'">
                  <mat-form-field
                    class="full-width"
                    matTooltip="Return Quantity"
                    matTooltipPosition="above"
                  >
                    <mat-label>Return Qty</mat-label>
                    <input
                      matInput
                      type="number"
                      name="returnQuantity"
                      formControlName="returnQuantity"
                      min="0"
                      placeholder="0"
                      (change)="onControlChange($event, i)"
                      (input)="onControlChange($event, i)"
                      readonly
                    />
                    <mat-error>Return quantity is required</mat-error>
                  </mat-form-field>
                </div>

                <!-- returnPrimaryBonusQuantity -->
                <div class="col-1">
                  <mat-form-field
                    class="full-width"
                    [matTooltip]="
                      businessType === '1'
                        ? 'Return Bonus QTY'
                        : 'Return Bonus Bag QTY'
                    "
                    matTooltipPosition="above"
                  >
                    <mat-label *ngIf="businessType === '1'"
                      >Return Bonus QTY</mat-label
                    >
                    <mat-label *ngIf="businessType === '2'"
                      >Return Bonus Bag QTY</mat-label
                    >

                    <input
                      matInput
                      type="number"
                      name="returnPrimaryBonusQuantity"
                      formControlName="returnPrimaryBonusQuantity"
                      min="0"
                      placeholder="0"
                      (click)="$event.target.select()"
                      (change)="onControlChange($event, i)"
                      (input)="onControlChange($event, i)"
                    />
                    <mat-error>This field is required</mat-error>
                    <mat-hint
                      style="color: red"
                      *ngIf="
                        p.hasError(
                          'returnBonusQuantityExceedsDeliveredBonusQuantity'
                        )
                      "
                      >{{
                        p.getError(
                          "returnBonusQuantityExceedsDeliveredBonusQuantity"
                        )
                      }}</mat-hint
                    >
                  </mat-form-field>
                </div>

                <!-- returnBonusQuantity -->
                <div class="col-1" *ngIf="businessType === '2'">
                  <mat-form-field
                    class="full-width"
                    matTooltip="Return Bonus Quantity"
                    matTooltipPosition="above"
                  >
                    <mat-label>Return Bonus Qty</mat-label>
                    <input
                      matInput
                      type="number"
                      name="returnBonusQuantity"
                      formControlName="returnBonusQuantity"
                      min="0"
                      placeholder="0"
                      (change)="onControlChange($event, i)"
                      (input)="onControlChange($event, i)"
                      readonly
                    />
                    <mat-error>Return bonus quantity is required</mat-error>
                  </mat-form-field>
                </div>
                <!-- discountPercentage -->
                <div class="col-1" *ngIf="businessType === '1'">
                  <mat-form-field
                    class="full-width"
                    matTooltip="Discount (%)"
                    matTooltipPosition="above"
                  >
                    <mat-label>Discount (%)</mat-label>
                    <input
                      matInput
                      type="number"
                      name="discountPercentage"
                      formControlName="discountPercentage"
                      min="0"
                      placeholder="0.00"
                      (change)="onControlChange($event, i)"
                      (input)="onControlChange($event, i)"
                      readonly
                    />
                  </mat-form-field>
                </div>

                <!-- percentageDiscountAmount -->
                <div class="col-1" *ngIf="businessType === '1'">
                  <mat-form-field
                    class="full-width"
                    matTooltip="Discount Amount"
                    matTooltipPosition="above"
                  >
                    <mat-label>Discount Amount</mat-label>
                    <input
                      matInput
                      type="number"
                      name="percentageDiscountAmount"
                      formControlName="percentageDiscountAmount"
                      min="0"
                      placeholder="0.00"
                      readonly
                    />
                  </mat-form-field>
                </div>

                <!-- amount -->
                <div class="col-1">
                  <mat-form-field
                    class="full-width"
                    matTooltip="Amount"
                    matTooltipPosition="above"
                  >
                    <mat-label>Amount</mat-label>
                    <input
                      matInput
                      type="number"
                      name="amount"
                      formControlName="amount"
                      placeholder="0.00"
                      readonly
                    />
                  </mat-form-field>
                </div>

                <!-- <div class="col-1">
                  <button
                    mat-mini-fab
                    type="button"
                    color="warn"
                    (click)="onDeleteItem(p?.get('id')?.value, i)"
                  >
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                </div> -->
              </div>
            </ng-container>
          </ng-container>
          <!-- End of Form Array -->

          <div class="d-flex justify-content-end">
            <!-- <div class="button-container">
              <button
                mat-mini-fab
                type="button"
                color="primary"
                (click)="addItem()"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div> -->

            <!-- Calculation Container -->
            <div>
              <!-- subtotal -->
              <div class="label-data justify-content-between">
                <span>Subtotal</span>
                <span>
                  {{
                    saleReturnForm?.get("subtotal")?.value || 0
                      | currency : "BDT" : "" : "1.2-2"
                  }}
                </span>
              </div>
              <!-- totalPercentageDiscountAmount -->
              <div
                class="label-data justify-content-between"
                *ngIf="businessType === '1'"
              >
                <span>Discount Amount</span>
                <span>
                  {{
                    saleReturnForm?.get("totalPercentageDiscountAmount")
                      ?.value || 0 | currency : "BDT" : "" : "1.2-2"
                  }}
                </span>
              </div>
              <!-- otherDiscount -->
              <div class="label-data justify-content-between">
                <span>Other Discount</span>
                <span>
                  {{
                    saleReturnForm?.get("otherDiscount")?.value || 0
                      | currency : "BDT" : "" : "1.2-2"
                  }}
                </span>
              </div>
              <!-- total -->
              <div class="label-data justify-content-between">
                <span>Total</span>
                <span>
                  {{
                    saleReturnForm?.get("total")?.value || 0
                      | currency : "BDT" : "" : "1.2-2"
                  }}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="p-3" align="center">
          <button
            class="me-2"
            type="button"
            *ngIf="!isViewMode && this.saleReturnForm.get('id')?.value"
            mat-raised-button
            (click)="backToView()"
            [disabled]="this.saleReturnForm.invalid"
          >
            Back
          </button>
          <button
            type="submit"
            color="accent"
            mat-raised-button
            matStepperNext
            class="mr-1"
            [disabled]="this.saleReturnForm.invalid"
          >
            Continue
          </button>
        </div>
      </form>
    </mat-step>

    <!-- Step Review and Submit -->
    <mat-step [editable]="false">
      <form
        (ngSubmit)="onSubmit()"
        autocomplete="off"
        [formGroup]="saleReturnForm"
      >
        <ng-template matStepLabel>Review and Create Sale Return</ng-template>
        <div *ngIf="isPassingDataToNextStep">
          <div class="row row-cols-3 gx-5">
            <!-- invoiceNo -->
            <div class="col label-data" *ngIf="businessType === '1'">
              <span>Sale Invoice No</span>
              <span>
                {{ saleReturnForm.get("invoiceNo")?.value }}
              </span>
            </div>

            <!-- deliveryNoteNo -->
            <div class="col label-data" *ngIf="businessType === '2'">
              <span>Delivery Note No</span>
              <span>
                {{ saleReturnForm.get("deliveryNoteNo")?.value }}
              </span>
            </div>

            <!-- referenceNo -->
            <div class="col label-data">
              <span>Reference No</span>
              <span>
                {{ saleReturnForm.get("referenceNo")?.value }}
              </span>
            </div>

            <!-- storeId -->
            <div class="col label-data">
              <span>Store</span>
              <span>
                {{ getStoreName(saleReturnForm?.get("storeId")?.value) }}
              </span>
            </div>

            <!-- customerId -->
            <div class="col label-data">
              <span>Customer</span>
              <span>
                {{ getCustomerName(saleReturnForm?.get("customerId")?.value) }}
              </span>
            </div>

            <!-- saleReturnDate  -->
            <div class="col label-data">
              <span>Return Date</span>
              <span>
                {{
                  dateFormatService.getDateFormat(
                    saleReturnForm.get("saleReturnDate")?.value
                  )
                }}
              </span>
            </div>

            <!-- Remark -->
            <div class="col label-data">
              <span>Remark</span>
              <span>
                {{ saleReturnForm?.get("remark")?.value }}
              </span>
            </div>
          </div>

          <!-- Details Table -->
          <div>
            <ng-container>
              <app-sale-return-detail
                [data]="saleReturnDetailsData"
              ></app-sale-return-detail>
            </ng-container>
          </div>

          <!-- Calculation Container -->
          <div class="calculation-align-right">
            <div>
              <!-- subtotal -->
              <div class="label-data justify-content-between">
                <span>Subtotal</span>
                <span>
                  {{
                    saleReturnForm?.get("subtotal")?.value || 0
                      | currency : "BDT" : "" : "1.2-2"
                  }}
                </span>
              </div>

              <!-- totalPercentageDiscountAmount -->
              <div
                class="label-data justify-content-between"
                *ngIf="businessType === '1'"
              >
                <span>Discount Amount</span>
                <span>
                  {{
                    saleReturnForm?.get("totalPercentageDiscountAmount")
                      ?.value || 0 | currency : "BDT" : "" : "1.2-2"
                  }}
                </span>
              </div>
              <!-- otherDiscount -->
              <div class="label-data justify-content-between">
                <span>Other Discount</span>
                <span>
                  {{
                    saleReturnForm?.get("otherDiscount")?.value || 0
                      | currency : "BDT" : "" : "1.2-2"
                  }}
                </span>
              </div>
              <!-- total -->
              <div class="label-data justify-content-between">
                <span>Total</span>
                <span>
                  {{
                    saleReturnForm?.get("total")?.value || 0
                      | currency : "BDT" : "" : "1.2-2"
                  }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- Action Button -->
        <div class="p-3" *ngIf="!isViewMode" align="center">
          <button
            class="me-2"
            mat-raised-button
            matStepperPrevious
            (click)="isLoading = false"
            type="button"
          >
            Back
          </button>
          <button
            mat-raised-button
            color="accent"
            type="submit"
            class="mr-1"
            [disabled]="this.saleReturnForm.invalid || isLoading"
          >
            <ng-container *ngIf="isLoading; else saveText">
              <mat-icon>
                <mat-spinner diameter="20"></mat-spinner>
              </mat-icon>
              {{ "Processing..." }}
            </ng-container>
            <ng-template #saveText>
              {{ "Save" }}
            </ng-template>
          </button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>

<!-- loader start -->
<!-- <ng-container *ngIf="isLoading">
  <app-loading-skeleton></app-loading-skeleton>
</ng-container> -->
<!-- loader end -->
