<mat-card>
  <mat-expansion-panel
    class="mat-elevation-z0"
    (opened)="openExpansionPanel()"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>search_icon</mat-icon> Search
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form autocomplete="off" [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="row row-cols-2 gx-5">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Search By Keyword</mat-label>
            <input matInput formControlName="keyword" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Select Status</mat-label>
            <mat-select formControlName="status">
              <mat-option [value]="null">-- None --</mat-option>
              <mat-option
                *ngFor="let d of stockAdjustmentStatuses"
                [value]="d?.value"
              >
                {{ d?.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input
                matStartDate
                formControlName="fromDate"
                placeholder="Start date"
                (focus)="picker.open()"
              />
              <input
                matEndDate
                formControlName="toDate"
                placeholder="End date"
                (focus)="picker.open()"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>search_icon</mat-icon>Search
      </button>
    </form>
  </mat-expansion-panel>
</mat-card>

<mat-card>
  <mat-card-content>
    <div class="button-container d-flex justify-content-between">
      <div
        class="d-flex flex-column flex-md-row gap-2 align-items-start align-items-md-center"
      >
        <button
          *appHasPermission="['Permissions.StockAdjustments.Create']"
          mat-stroked-button
          color="primary"
          (click)="navigateToAddNew()"
        >
          <mat-icon>add_box</mat-icon>
          Add New
        </button>
        <button
          mat-stroked-button
          color="accent"
          matBadge="{{ pendingCheckedModel?.pendingCount }}"
          matBadgePosition="after"
          matBadgeColor="primary"
          (click)="getPending()"
          [disabled]="pendingCheckedModel?.pendingCount == 0"
        >
          <mat-icon> present_to_all</mat-icon>
          Pending For Check
        </button>
        <button
          mat-stroked-button
          color="warn"
          matBadge="{{ pendingCheckedModel?.checkedCount }}"
          matBadgePosition="after"
          matBadgeColor="primary"
          (click)="getChecked()"
          [disabled]="pendingCheckedModel?.checkedCount == 0"
        >
          <mat-icon>done_outline</mat-icon>
          Waiting For Approval
        </button>
      </div>

      <!-- Views Column Button -->
      <div>
        <button
          mat-icon-button
          color="primary"
          matTooltip="print summary pdf"
          matTooltipShowDelay="300"
          matTooltipPosition="above"
          (click)="printStockAdjustmentPdf('stock-adjustment-summary-print')"
        >
          <mat-icon>print</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          matTooltip="print details pdf"
          matTooltipShowDelay="300"
          matTooltipPosition="above"
          (click)="printStockAdjustmentPdf('stock-adjustment-details-print')"
        >
          <mat-icon>print</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          (click)="reload()"
          matTooltip="Reload"
          matTooltipPosition="above"
        >
          <mat-icon>refresh</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Views Column"
          matTooltipShowDelay="300"
          [matMenuTriggerFor]="viewsColumn"
        >
          <mat-icon>view_module_icon</mat-icon>
        </button>
        <mat-menu
          class="margin-0 padding-0"
          #viewsColumn="matMenu"
          [formGroup]="viewColumnForm"
        >
          <span
            class="padding-0"
            mat-menu-item
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
          >
            <mat-list role="list" class="margin-0 padding-0">
              <mat-list-item
                role="listitem"
                *ngFor="let cd of columnDefinitions"
              >
                <mat-checkbox [formControlName]="cd?.def">
                  {{ cd?.label }}
                </mat-checkbox>
              </mat-list-item>
            </mat-list>
          </span>
        </mat-menu>
      </div>
    </div>

    <ng-container *ngIf="!loading; else loadingSkeleton">
      <div
        class="table-responsive"
        *ngIf="dataSource.data.length > 0; else noDataFound"
      >
        <table
          class="border border-1 table-bordered"
          mat-table
          multiTemplateDataRows
          [dataSource]="dataSource"
          [trackBy]="trackBy"
        >
          <ng-container matColumnDef="expand">
            <th
              mat-header-cell
              class="header"
              *matHeaderCellDef
              aria-label="row actions"
              (click)="expandAll()"
              style="cursor: pointer"
            >
              <mat-icon>keyboard_arrow_down</mat-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                aria-label="expand row"
                (click)="
                  expandedElement =
                    expandedElement === element ? null : element;
                  $event.stopPropagation()
                "
              >
                <mat-icon *ngIf="expandedElement !== element"
                  >keyboard_arrow_down</mat-icon
                >
                <mat-icon *ngIf="expandedElement === element"
                  >keyboard_arrow_up</mat-icon
                >
              </button>
            </td>
          </ng-container>

          <!-- code Column -->
          <ng-container matColumnDef="code">
            <th mat-header-cell class="header" *matHeaderCellDef>Code</th>
            <td mat-cell *matCellDef="let stockAdjustment">
              {{ stockAdjustment?.code }}
            </td>
          </ng-container>

          <!-- adjustmentDate Column -->
          <ng-container matColumnDef="adjustmentDate">
            <th mat-header-cell class="header" *matHeaderCellDef>
              Adjustment Date
            </th>
            <td mat-cell *matCellDef="let stockAdjustment">
              {{
                dateFormatService?.getDateFormat(
                  stockAdjustment?.adjustmentDate
                )
              }}
            </td>
          </ng-container>

          <!-- store Column -->
          <ng-container matColumnDef="store">
            <th mat-header-cell class="header" *matHeaderCellDef>Store</th>
            <td mat-cell *matCellDef="let stockAdjustment">
              {{ stockAdjustment?.store?.name }}
            </td>
          </ng-container>

          <!-- totalAdjustmentQty Column -->
          <ng-container matColumnDef="totalAdjustmentQty">
            <th mat-header-cell class="header" *matHeaderCellDef>
              Total Adjustment Qty
            </th>
            <td mat-cell *matCellDef="let stockAdjustment">
              {{
                stockAdjustment?.totalAdjustmentQty
                  | currency : "BDT" : "" : "1.2-2"
              }}
            </td>
          </ng-container>

          <!--  Status -->
          <ng-container matColumnDef="status">
            <th mat-header-cell class="header" *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let stockAdjustment">
              <mat-chip
                class="align-middle py-4 px-8"
                [color]="
                  getStockAdjustmentStatus(stockAdjustment?.status)?.color
                "
                selected
              >
                {{
                  getStockAdjustmentStatusName(
                    stockAdjustment?.status
                  )?.replaceAll("_", " ")
                }}
              </mat-chip>
            </td>
          </ng-container>

          <!-- remark Column -->
          <ng-container matColumnDef="remark">
            <th mat-header-cell class="header" *matHeaderCellDef>Remark</th>
            <td mat-cell *matCellDef="let stockAdjustment">
              {{ stockAdjustment?.remark }}
            </td>
          </ng-container>

          <!-- Checked By Column -->
          <ng-container matColumnDef="checkedBy">
            <th mat-header-cell class="header" *matHeaderCellDef>Checked By</th>
            <td mat-cell *matCellDef="let stockAdjustment">
              {{ stockAdjustment?.checkedBy }}
            </td>
          </ng-container>

          <!-- Approved By Column -->
          <ng-container matColumnDef="approvedBy">
            <th mat-header-cell class="header" *matHeaderCellDef>
              Approved By
            </th>
            <td mat-cell *matCellDef="let stockAdjustment">
              {{ stockAdjustment?.approvedBy }}
            </td>
          </ng-container>

          <!-- Created On Column -->
          <ng-container matColumnDef="createdOn">
            <th mat-header-cell class="header" *matHeaderCellDef>Created On</th>
            <td mat-cell *matCellDef="let stockAdjustment">
              {{
                dateFormatService?.getDateAndTime(stockAdjustment?.createdOn)
              }}
            </td>
          </ng-container>

          <!-- Updated On Column -->
          <ng-container matColumnDef="updatedOn">
            <th mat-header-cell class="header" *matHeaderCellDef>Updated On</th>
            <td mat-cell *matCellDef="let stockAdjustment">
              {{
                dateFormatService?.getDateAndTime(stockAdjustment?.updatedOn)
              }}
            </td>
          </ng-container>

          <!-- Created By Column -->
          <ng-container matColumnDef="createdBy">
            <th mat-header-cell class="header" *matHeaderCellDef>Created By</th>
            <td mat-cell *matCellDef="let stockAdjustment">
              {{ stockAdjustment?.createdBy }}
            </td>
          </ng-container>

          <!-- Updated By Column -->
          <ng-container matColumnDef="updatedBy">
            <th mat-header-cell class="header" *matHeaderCellDef>Updated By</th>
            <td mat-cell *matCellDef="let stockAdjustment">
              {{ stockAdjustment?.updatedBy }}
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th
              style="text-align: center"
              class="header"
              mat-header-cell
              *matHeaderCellDef
            >
              Actions
            </th>
            <td align="center" mat-cell *matCellDef="let stockAdjustment">
              <button
                mat-icon-button
                color="accent"
                matTooltip="View, Check, Approve"
                matTooltipShowDelay="300"
                matTooltipPosition="above"
                (click)="navigateToView(stockAdjustment)"
              >
                <mat-icon>published_with_changes</mat-icon>
              </button>
              <button
                *appHasPermission="['Permissions.StockAdjustments.Delete']"
                [hidden]="
                  stockAdjustment?.status >= 2 ||
                  stockAdjustment?.financialYearId != currentFinancialYearId
                "
                mat-icon-button
                color="warn"
                matTooltip="Delete"
                matTooltipShowDelay="300"
                matTooltipPosition="above"
                (click)="
                  confirmDelete(stockAdjustment?.id, stockAdjustment?.code)
                "
              >
                <mat-icon>delete</mat-icon>
              </button>
              <button
                mat-icon-button
                color="primary"
                matTooltip="print pdf"
                matTooltipShowDelay="300"
                matTooltipPosition="above"
                (click)="printPdf(stockAdjustment?.id)"
              >
                <mat-icon>print</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td
              mat-cell
              *matCellDef="let element"
              [attr.colspan]="(displayedColumns$ | async)?.length"
            >
              <div
                class="example-element-detail"
                [@detailExpand]="
                  element == expandedElement ? expanded : collapsed
                "
              >
                <app-stock-adjustment-detail
                  [data]="element?.stockAdjustmentDetails"
                ></app-stock-adjustment-detail>
              </div>
            </td>
          </ng-container>
          <!-- -------------- Expanded Content End----------------- -->

          <!--  -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns$ | async"></tr>
          <tr
            mat-row
            *matRowDef="let element; columns: displayedColumns$ | async"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (dblclick)="
              expandedElement = expandedElement === element ? null : element
            "
            tabindex="1"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            class="example-detail-row"
          ></tr>
        </table>
      </div>
      <mat-paginator
        *ngIf="totalCount > 0"
        [length]="totalCount"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
        showFirstLastButtons
        aria-label="Select page of stock adjustment list"
      >
      </mat-paginator>
    </ng-container>
  </mat-card-content>
</mat-card>

<!-- loader start -->
<ng-template #loadingSkeleton>
  <app-loading-skeleton></app-loading-skeleton>
</ng-template>
<!-- No Data Found -->
<ng-template #noDataFound>
  <app-no-data-found></app-no-data-found>
</ng-template>
