<h2 mat-dialog-title>{{ formTitle }}</h2>
<form [formGroup]="storeForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <input mat type="hidden" formControlName="id" />
    <!-- Inventory Type -->
    <mat-form-field class="full-width">
      <mat-label>Select inventory Type</mat-label>
      <mat-select formControlName="inventoryTypeId">
        <mat-option>-- None --</mat-option>
        @for (d of inventoryTypes; track d) {
          <mat-option [value]="d.id">
            {{ d.name }}
          </mat-option>
        }
      </mat-select>
      <mat-error>Inventory Type is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Store Name</mat-label>
      <input
        matInput
        autocomplete="off"
        placeholder="Enter store name"
        formControlName="name"
        />
        @if (
          storeForm.controls['name'].hasError('required') &&
          storeForm.controls['name'].touched
          ) {
          <mat-error
            >
            Store name is required
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Depo Charge Per Kg</mat-label>
        <input
          matInput
          type="number"
          autocomplete="off"
          placeholder="Enter Depo Charge Per Kg"
          formControlName="depoChargePerKg"
          />
          @if (
            storeForm.controls['depoChargePerKg'].hasError('required') &&
            storeForm.controls['depoChargePerKg'].touched
            ) {
            <mat-error
              >
              Depo Charge Per Kg is required
            </mat-error>
          }
        </mat-form-field>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button
          mat-raised-button
          [mat-dialog-close]="true"
          cdkFocusInitial
          color="primary"
          [disabled]="!storeForm.dirty || !storeForm.valid"
          type="submit"
          >
          Save
        </button>
      </mat-dialog-actions>
    </form>
