<table class="border border-1" mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="sl">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <ng-container matColumnDef="productId">
    <th mat-header-cell *matHeaderCellDef>Product</th>
    <td mat-cell *matCellDef="let element">{{ element.product.name }}</td>
  </ng-container>

  <ng-container matColumnDef="measurementUnitId">
    <th mat-header-cell *matHeaderCellDef>Unit</th>
    <td mat-cell *matCellDef="let element">
      {{ element.product.measurementUnit.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="primaryQuantity">
    <th mat-header-cell *matHeaderCellDef>
      <ng-container *ngIf="businessType === '1'">Quantity</ng-container>
      <ng-container *ngIf="businessType === '2'">Bag Quantity</ng-container>
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.primaryQuantity | number : "1.2-2" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let element">
      {{ element.quantity | number : "1.2-2" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="primaryBonusQuantity">
    <th mat-header-cell *matHeaderCellDef>
      <ng-container *ngIf="businessType === '1'">Bonus Quantity</ng-container>
      <ng-container *ngIf="businessType === '2'"
        >Bonus Bag Quantity</ng-container
      >
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.primaryBonusQuantity | number : "1.2-2" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="bonusQuantity">
    <th mat-header-cell *matHeaderCellDef>Bonus Quantity</th>
    <td mat-cell *matCellDef="let element">
      {{ element.bonusQuantity | number : "1.2-2" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="rate">
    <th mat-header-cell *matHeaderCellDef>Rate</th>
    <td mat-cell *matCellDef="let element">
      {{ element.rate | currency : "BDT" : "" : "1.2-2" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="discountPercentage">
    <th mat-header-cell *matHeaderCellDef>Discount (%)</th>
    <td mat-cell *matCellDef="let element">
      {{ element?.discountPercentage }}
    </td>
  </ng-container>

  <ng-container matColumnDef="percentageDiscountAmount">
    <th mat-header-cell *matHeaderCellDef>DiscountAmount</th>
    <td mat-cell *matCellDef="let element">
      {{ element?.percentageDiscountAmount }}
    </td>
  </ng-container>

  <ng-container matColumnDef="discountPerUnit">
    <th mat-header-cell *matHeaderCellDef>Discount Per Unit</th>
    <td mat-cell *matCellDef="let element">
      {{ element.discountPerUnit | currency : "BDT" : "" : "1.2-2" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="offerDiscountPerUnit">
    <th mat-header-cell *matHeaderCellDef>Offer Discount Per Unit</th>
    <td mat-cell *matCellDef="let element">
      {{ element.offerDiscountPerUnit | currency : "BDT" : "" : "1.2-2" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="discountAmount">
    <th mat-header-cell *matHeaderCellDef>Discount Amount</th>
    <td mat-cell *matCellDef="let element">
      {{ element.discountAmount | currency : "BDT" : "" : "1.2-2" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="netRate">
    <th mat-header-cell *matHeaderCellDef>Net Rate</th>
    <td mat-cell *matCellDef="let element">
      {{ element.netRate | currency : "BDT" : "" : "1.2-2" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td mat-cell *matCellDef="let element">
      {{ element.amount | currency : "BDT" : "" : "1.2-2" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="deliveryDate">
    <th mat-header-cell *matHeaderCellDef>Delivery Date</th>
    <td mat-cell *matCellDef="let element">
      {{ dateFormatService?.getDateFormat(element?.deliveryDate) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="deliveryPlace">
    <th mat-header-cell *matHeaderCellDef>Delivery Place</th>
    <td mat-cell *matCellDef="let element">
      {{ element.deliveryPlace }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
