<mat-card>
  <mat-expansion-panel
    class="mat-elevation-z0"
    (opened)="openExpansionPanel()"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>search_icon</mat-icon> Search
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form autocomplete="off" [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="row row-cols-2 gx-5">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Search By Sale Invoice No.</mat-label>
            <input matInput formControlName="keyword" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Select Store</mat-label>
            <mat-select formControlName="storeId">
              <mat-option [value]="null">-- None --</mat-option>
              <mat-option *ngFor="let d of stores" [value]="d?.id">
                {{ d?.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <!-- customerId -->
          <mat-form-field class="full-width">
            <mat-label>Select Customer</mat-label>
            <input
              type="text"
              matInput
              name="customerId"
              formControlName="customerId"
              [matAutocomplete]="auto"
              (input)="handleCustomerSearch($event)"
            />
            <div matSuffix>
              <button
                (click)="clearInput($event)"
                *ngIf="
                  searchForm?.get('customerId')?.value !== null &&
                  searchForm?.get('customerId')?.value !== ''
                "
                aria-label="Clear"
                mat-icon-button
                type="button"
              >
                <mat-icon>clear</mat-icon>
              </button>
            </div>
            <mat-autocomplete
              #auto="matAutocomplete"
              [displayWith]="getCustomerName.bind(this)"
            >
              <mat-option
                matTooltip="{{ d.address }}"
                *ngFor="let d of filterCustomers"
                [value]="d?.id"
              >
                ({{ d?.code.slice(-4) }}) {{ d?.name }} {{ d?.address }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Select Sale Invoice Status</mat-label>
            <mat-select formControlName="saleInvoiceStatus">
              <mat-option [value]="null">-- None --</mat-option>
              <mat-option
                *ngFor="let d of saleInvoiceStatuses"
                [value]="d?.value"
              >
                {{ d?.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input
                matStartDate
                formControlName="fromDate"
                placeholder="Start date"
                (focus)="picker.open()"
              />
              <input
                matEndDate
                formControlName="toDate"
                placeholder="End date"
                (focus)="picker.open()"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>search_icon</mat-icon>Search
      </button>
    </form>
  </mat-expansion-panel>
</mat-card>
<mat-card>
  <mat-card-content>
    <div class="button-container d-flex justify-content-between">
      <!-- Left Side -->
      <div
        class="d-flex flex-column flex-md-row gap-2 align-items-start align-items-md-center"
      >
        <!-- Add New Button -->
        <button
          *appHasPermission="['Permissions.SaleInvoices.Create']"
          mat-stroked-button
          color="primary"
          (click)="navigateToAddNew()"
        >
          <mat-icon>add_box</mat-icon>
          Add New
        </button>
        <!-- Pending and Checked Buttons -->
        <button
          mat-stroked-button
          color="accent"
          matBadge="{{ pendingCheckedModel?.pendingCount }}"
          matBadgePosition="after"
          matBadgeColor="primary"
          (click)="getPending()"
          [disabled]="pendingCheckedModel?.pendingCount == 0"
        >
          <mat-icon> present_to_all</mat-icon>
          Pending For Check
        </button>
        <!-- Waiting For Approval Button -->
        <button
          mat-stroked-button
          color="warn"
          matBadge="{{ pendingCheckedModel?.checkedCount }}"
          matBadgePosition="after"
          matBadgeColor="primary"
          (click)="getChecked()"
          [disabled]="pendingCheckedModel?.checkedCount == 0"
        >
          <mat-icon>done_outline</mat-icon>
          Waiting For Approval
        </button>
      </div>
      <!-- Right Side -->
      <div>
        <!-- Print Summary Button -->
        <button
          mat-icon-button
          color="primary"
          matTooltip="print summary pdf"
          matTooltipShowDelay="300"
          matTooltipPosition="above"
          (click)="printSaleInvoicePdf('sale-invoice-summary-print')"
        >
          <mat-icon>print</mat-icon>
        </button>
        <!-- Print Details Button -->
        <button
          mat-icon-button
          color="primary"
          matTooltip="print details pdf"
          matTooltipShowDelay="300"
          matTooltipPosition="above"
          (click)="printSaleInvoicePdf('sale-invoice-details-print')"
        >
          <mat-icon>print</mat-icon>
        </button>
        <!-- Reload Button -->
        <button
          mat-icon-button
          color="primary"
          (click)="reload()"
          matTooltip="Reload"
          matTooltipPosition="above"
        >
          <mat-icon>refresh</mat-icon>
        </button>
        <!-- Views Column Button -->
        <button
          mat-icon-button
          matTooltip="Views Column"
          matTooltipShowDelay="300"
          [matMenuTriggerFor]="viewsColumn"
        >
          <mat-icon>view_module_icon</mat-icon>
        </button>
        <mat-menu
          class="margin-0 padding-0"
          #viewsColumn="matMenu"
          [formGroup]="viewColumnForm"
        >
          <span
            class="padding-0"
            mat-menu-item
            [disableRipple]="true"
            (click)="$event.stopPropagation()"
          >
            <mat-list role="list" class="margin-0 padding-0">
              <mat-list-item
                role="listitem"
                *ngFor="let cd of columnDefinitions"
              >
                <mat-checkbox [formControlName]="cd.def">
                  {{ cd?.label }}
                </mat-checkbox>
              </mat-list-item>
            </mat-list>
          </span>
        </mat-menu>
      </div>
    </div>
    <ng-container *ngIf="!loading; else loadingSkeleton">
      <!-- Table data -->
      <div
        class="table-responsive"
        *ngIf="dataSource?.data?.length > 0; else noDataFound"
      >
        <table
          class="border border-1 table-bordered"
          mat-table
          multiTemplateDataRows
          [dataSource]="dataSource"
          [trackBy]="trackBy"
        >
          <ng-container matColumnDef="expand">
            <th
              mat-header-cell
              class="header"
              *matHeaderCellDef
              (click)="expandAll()"
              style="cursor: pointer"
            >
              <mat-icon>keyboard_arrow_down</mat-icon>
            </th>

            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                aria-label="expand row"
                (click)="
                  expandedElement =
                    expandedElement === element ? null : element;
                  $event.stopPropagation()
                "
              >
                <mat-icon *ngIf="expandedElement !== element"
                  >keyboard_arrow_down</mat-icon
                >
                <mat-icon *ngIf="expandedElement === element"
                  >keyboard_arrow_up</mat-icon
                >
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef>Total</td>
          </ng-container>

          <!-- invoiceNo Column -->
          <ng-container matColumnDef="invoiceNo">
            <th mat-header-cell *matHeaderCellDef>Sale Invoice No</th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{ saleInvoice?.invoiceNo }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- invoiceDate Column -->
          <ng-container matColumnDef="invoiceDate">
            <th mat-header-cell *matHeaderCellDef>Invoice Date</th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{ dateFormatService.getDateFormat(saleInvoice?.invoiceDate) }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- deliveryNoteNo Column -->
          <ng-container matColumnDef="deliveryNoteNo">
            <th mat-header-cell *matHeaderCellDef>Delivery Note No</th>
            <td
              style="white-space: pre-line"
              mat-cell
              *matCellDef="let saleInvoice"
            >
              {{ saleInvoice?.deliveryNoteNo?.split(",").join("\n") }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="saleOrderNo">
            <th mat-header-cell *matHeaderCellDef>Sale Order No</th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{ saleInvoice?.saleOrderNo }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- storeId Column -->
          <ng-container matColumnDef="storeId">
            <th mat-header-cell *matHeaderCellDef>Store</th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{ saleInvoice?.store?.name }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- paymentTerm Column -->
          <ng-container matColumnDef="paymentTerm">
            <th mat-header-cell *matHeaderCellDef>Payment Term</th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{ saleInvoice?.paymentTermName }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- customerId Column -->
          <ng-container matColumnDef="customerId">
            <th mat-header-cell *matHeaderCellDef>Customer</th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{ saleInvoice?.customer?.name }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let saleInvoice">
              <mat-chip
                class="align-middle py-4 px-8"
                [color]="getSaleInvoiceStatus(saleInvoice?.status)?.color"
                selected
                >{{
                  getSaleInvoiceStatusName(saleInvoice?.status)?.replaceAll(
                    "_",
                    " "
                  )
                }}</mat-chip
              >
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- subtotal Column -->
          <ng-container matColumnDef="subtotal">
            <th mat-header-cell *matHeaderCellDef>Subtotal</th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{ saleInvoice?.subtotal | currency : "BDT" : "" : "1.2-2" }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
              {{
                reportAggregator?.aggregatorSubtotal
                  | currency : "BDT" : "" : "1.2-2"
              }}
            </td>
          </ng-container>

          <!-- totalPercentageDiscountAmount Column -->
          <ng-container matColumnDef="totalPercentageDiscountAmount">
            <th mat-header-cell *matHeaderCellDef>
              Total Percentage Discount Amount
            </th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{
                saleInvoice?.totalPercentageDiscountAmount
                  | currency : "BDT" : "" : "1.2-2"
              }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
              {{
                reportAggregator?.aggregatorTotalPercentageDiscountAmount || 0
                  | currency : "BDT" : "" : "1.2-2"
              }}
            </td>
          </ng-container>

          <!-- discount Column -->
          <ng-container matColumnDef="discount">
            <th mat-header-cell *matHeaderCellDef>Discount</th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{ saleInvoice?.discount | currency : "BDT" : "" : "1.2-2" }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
              {{
                reportAggregator?.aggregatorDiscount
                  | currency : "BDT" : "" : "1.2-2"
              }}
            </td>
          </ng-container>

          <!-- offerDiscount Column -->
          <ng-container matColumnDef="offerDiscount">
            <th mat-header-cell *matHeaderCellDef>Offer Discount</th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{ saleInvoice?.offerDiscount | currency : "BDT" : "" : "1.2-2" }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
              {{
                reportAggregator?.aggregatorOfferDiscount
                  | currency : "BDT" : "" : "1.2-2"
              }}
            </td>
          </ng-container>

          <!-- otherDiscount Column -->
          <ng-container matColumnDef="otherDiscount">
            <th mat-header-cell *matHeaderCellDef>Other Discount</th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{ saleInvoice?.otherDiscount | currency : "BDT" : "" : "1.2-2" }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
              {{
                reportAggregator?.aggregatorOtherDiscount
                  | currency : "BDT" : "" : "1.2-2"
              }}
            </td>
          </ng-container>

          <!-- total Column -->
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Net Sale</th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{ saleInvoice?.total | currency : "BDT" : "" : "1.2-2" }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
              {{
                reportAggregator?.aggregatorTotal
                  | currency : "BDT" : "" : "1.2-2"
              }}
            </td>
          </ng-container>

          <!-- transportationCost Column -->
          <ng-container matColumnDef="transportationCost">
            <th mat-header-cell *matHeaderCellDef>Transp Cost</th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{
                saleInvoice?.transportationCost
                  | currency : "BDT" : "" : "1.2-2"
              }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
              {{
                reportAggregator?.aggregatorTransportationCost
                  | currency : "BDT" : "" : "1.2-2"
              }}
            </td>
          </ng-container>

          <!-- depoCharge Column -->
          <ng-container matColumnDef="depoCharge">
            <th mat-header-cell *matHeaderCellDef>Depo Charge</th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{ saleInvoice?.depoCharge | currency : "BDT" : "" : "1.2-2" }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
              {{
                reportAggregator?.aggregatorDepoCharge
                  | currency : "BDT" : "" : "1.2-2"
              }}
            </td>
          </ng-container>

          <!-- netTotal Column -->
          <ng-container matColumnDef="netTotal">
            <th mat-header-cell *matHeaderCellDef>Total Payable</th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{ saleInvoice?.netTotal | currency : "BDT" : "" : "1.2-2" }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
              {{
                reportAggregator?.aggregatorNetTotal
                  | currency : "BDT" : "" : "1.2-2"
              }}
            </td>
          </ng-container>

          <!-- paid Column -->
          <ng-container matColumnDef="paid">
            <th mat-header-cell *matHeaderCellDef>Paid</th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{ saleInvoice?.paid | currency : "BDT" : "" : "1.2-2" }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
              {{
                reportAggregator?.aggregatorPaid
                  | currency : "BDT" : "" : "1.2-2"
              }}
            </td>
          </ng-container>

          <!-- referenceNo Column -->
          <ng-container matColumnDef="referenceNo">
            <th mat-header-cell *matHeaderCellDef>Reference No.</th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{ saleInvoice?.referenceNo }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- bankDetails Column -->
          <ng-container matColumnDef="bankDetails">
            <th mat-header-cell *matHeaderCellDef>Bank Details</th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{ saleInvoice?.bankDetails }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- termAndCondition Column -->
          <ng-container matColumnDef="termAndCondition">
            <th mat-header-cell *matHeaderCellDef>Term And Condition</th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{ saleInvoice?.termAndCondition }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- remark Column -->
          <ng-container matColumnDef="remark">
            <th mat-header-cell *matHeaderCellDef>Remark</th>
            <td mat-cell *matCellDef="let saleInvoice">
              {{ saleInvoice?.remark }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Checked By Column -->
          <ng-container matColumnDef="checkedBy">
            <th mat-header-cell class="header" *matHeaderCellDef>Checked By</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.checkedBy }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Approved By Column -->
          <ng-container matColumnDef="approvedBy">
            <th mat-header-cell class="header" *matHeaderCellDef>
              Approved By
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.approvedBy }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Created On Column -->
          <ng-container matColumnDef="createdOn">
            <th mat-header-cell class="header" *matHeaderCellDef>Created On</th>
            <td mat-cell *matCellDef="let element">
              {{ dateFormatService?.getDateAndTime(element?.createdOn) }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Updated On Column -->
          <ng-container matColumnDef="updatedOn">
            <th mat-header-cell class="header" *matHeaderCellDef>Updated On</th>
            <td mat-cell *matCellDef="let element">
              {{ dateFormatService?.getDateAndTime(element?.updatedOn) }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Created By Column -->
          <ng-container matColumnDef="createdBy">
            <th mat-header-cell class="header" *matHeaderCellDef>Created By</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.createdBy }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Updated By Column -->
          <ng-container matColumnDef="updatedBy">
            <th mat-header-cell class="header" *matHeaderCellDef>Updated By</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.updatedBy }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th style="text-align: center" mat-header-cell *matHeaderCellDef>
              Actions
            </th>
            <td align="center" mat-cell *matCellDef="let saleInvoice">
              <!-- View Button -->
              <button
                mat-icon-button
                color="accent"
                matTooltip="View, Check, Approve"
                matTooltipShowDelay="300"
                matTooltipPosition="above"
                (click)="navigateToView(saleInvoice)"
              >
                <mat-icon>published_with_changes</mat-icon>
              </button>
              <!-- Delete Button -->
              <button
                *appHasPermission="['Permissions.SaleInvoices.Delete']"
                [hidden]="
                  saleInvoice.status >= 2 ||
                  saleInvoice?.financialYearId != currentFinancialYearId
                "
                mat-icon-button
                color="warn"
                matTooltip="Delete"
                matTooltipShowDelay="300"
                matTooltipPosition="above"
                (click)="confirmDelete(saleInvoice?.id, saleInvoice?.invoiceNo)"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <!-- Individual Pdf-->
              <button
                mat-icon-button
                color="primary"
                matTooltip="print pdf"
                matTooltipShowDelay="300"
                matTooltipPosition="above"
                (click)="printPdf(saleInvoice?.id)"
              >
                <mat-icon>print</mat-icon>
              </button>
              <!-- Vat Chalan -->
              <button
                mat-stroked-button
                color="primary"
                matTooltip="Print VAT Chalan"
                matTooltipShowDelay="300"
                matTooltipPosition="above"
                (click)="printVatPdf('ReportVatInvoiceA5', saleInvoice?.id)"
              >
                VAT Chalan
              </button>
              <!-- Print VAT Chalan on Pre-Printed Document -->
              <button
                *appHasPermission="[
                  'Permissions.SaleInvoices.Vat_Invoice_For_Pre_Printed_Document'
                ]"
                mat-stroked-button
                color="primary"
                matTooltip="Print VAT Chalan on Document"
                matTooltipShowDelay="300"
                matTooltipPosition="above"
                (click)="
                  printVatPdf(
                    'ReportVatInvoiceForPrePrintedPdfWriter',
                    saleInvoice?.id
                  )
                "
              >
                VAT Chalan on Document
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td
              mat-cell
              *matCellDef="let element"
              [attr.colspan]="(displayedColumns$ | async)?.length"
            >
              <div
                class="example-element-detail"
                [@detailExpand]="
                  element == expandedElement ? expanded : collapsed
                "
              >
                <app-sale-invoice-detail
                  [data]="element.saleInvoiceDetails"
                ></app-sale-invoice-detail>
              </div>
            </td>
          </ng-container>
          <!-- -------------- Expanded Content End----------------- -->

          <!--  -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns$ | async"></tr>
          <tr
            mat-row
            *matRowDef="let element; columns: displayedColumns$ | async"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (dblclick)="
              expandedElement = expandedElement === element ? null : element
            "
            tabindex="1"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            class="example-detail-row"
          ></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns$ | async"></tr>
        </table>
      </div>
      <!-- Pagination -->
      <mat-paginator
        *ngIf="totalCount > 0"
        [length]="totalCount"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
        showFirstLastButtons
        aria-label="Select page of saleInvoice list"
      >
      </mat-paginator>
    </ng-container>
  </mat-card-content>
</mat-card>

<!-- loader start -->
<ng-template #loadingSkeleton>
  <app-loading-skeleton></app-loading-skeleton>
</ng-template>
<!-- No Data Found -->
<ng-template #noDataFound>
  <app-no-data-found></app-no-data-found>
</ng-template>
