<h2 mat-dialog-title>{{ formTitle }}</h2>
<form [formGroup]="accountTypeForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <input mat type="hidden" formControlName="id" />
    <mat-form-field>
      <mat-label>Account Type Name</mat-label>
      <input
        matInput
        autocomplete="off"
        placeholder="Enter Account Type name"
        formControlName="name"
        />
        @if (
          accountTypeForm.controls['name'].hasError('required') &&
          accountTypeForm.controls['name'].touched
          ) {
          <mat-error
            >
            Account Type name is required
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Starting Number</mat-label>
        <input
          matInput
          autocomplete="off"
          placeholder="Enter Starting Number"
          formControlName="startingNumber"
          type="number"
          />
          @if (
            accountTypeForm.controls['startingNumber'].hasError('required') &&
            accountTypeForm.controls['startingNumber'].touched
            ) {
            <mat-error
              >
              Starting Number is required
            </mat-error>
          }
        </mat-form-field>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button
          mat-raised-button
          [mat-dialog-close]="true"
          cdkFocusInitial
          color="primary"
          [disabled]="!accountTypeForm.dirty || !accountTypeForm.valid"
          type="submit"
          >
          Save
        </button>
      </mat-dialog-actions>
    </form>

