<h2 mat-dialog-title>{{ formTitle }}</h2>
<form [formGroup]="zoneForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <input mat type="hidden" formControlName="id" />
    <mat-form-field>
      <mat-label>Zone Name</mat-label>
      <input
        matInput
        autocomplete="off"
        placeholder="Enter zone name"
        formControlName="name"
        />
        @if (
          zoneForm.controls['name'].hasError('required') &&
          zoneForm.controls['name'].touched
          ) {
          <mat-error
            >
            Zone name is required
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Select Region</mat-label>
        <mat-select formControlName="regionId">
          <mat-option>-- None --</mat-option>
          @for (region of regions; track region) {
            <mat-option [value]="region.id">
              {{ region.name }}
            </mat-option>
          }
        </mat-select>
        <mat-error>Region is required</mat-error>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button mat-dialog-close>Cancel</button>
      <button
        mat-raised-button
        [mat-dialog-close]="true"
        cdkFocusInitial
        color="primary"
        [disabled]="!zoneForm.dirty || !zoneForm.valid"
        type="submit"
        >
        Save
      </button>
    </mat-dialog-actions>
  </form>
