<h2 mat-dialog-title>{{ formTitle }}</h2>
<form [formGroup]="emailAccountForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <input mat type="hidden" formControlName="id" />
    <mat-form-field class="full-width">
      <mat-label>Display Name</mat-label>
      <input
        matInput
        autocomplete="off"
        placeholder="Enter Display Name"
        formControlName="displayName"
        />
        @if (
          emailAccountForm.controls['displayName'].hasError('required') &&
          emailAccountForm.controls['displayName'].touched
          ) {
          <mat-error
            >
            Display Name is required
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          autocomplete="off"
          placeholder="Enter Email"
          formControlName="email"
          />
          @if (
            emailAccountForm.controls['email'].hasError('required') &&
            emailAccountForm.controls['email'].touched
            ) {
            <mat-error
              >
              Email is required
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Host</mat-label>
          <input
            matInput
            autocomplete="off"
            placeholder="Enter Host"
            formControlName="host"
            />
            @if (
              emailAccountForm.controls['host'].hasError('required') &&
              emailAccountForm.controls['host'].touched
              ) {
              <mat-error
                >
                Host is required
              </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Username</mat-label>
            <input
              matInput
              autocomplete="off"
              placeholder="Enter Username"
              formControlName="username"
              />
              @if (
                emailAccountForm.controls['username'].hasError('required') &&
                emailAccountForm.controls['username'].touched
                ) {
                <mat-error
                  >
                  Username is required
                </mat-error>
              }
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input
                matInput
                autocomplete="off"
                placeholder="Enter Password"
                formControlName="password"
                />
                @if (
                  emailAccountForm.controls['password'].hasError('required') &&
                  emailAccountForm.controls['password'].touched
                  ) {
                  <mat-error
                    >
                    Password is required
                  </mat-error>
                }
              </mat-form-field>
              <mat-form-field class="full-width">
                <mat-label>Port</mat-label>
                <input
                  matInput
                  autocomplete="off"
                  placeholder="Enter Port"
                  formControlName="port"
                  />
                  @if (
                    emailAccountForm.controls['port'].hasError('required') &&
                    emailAccountForm.controls['port'].touched
                    ) {
                    <mat-error
                      >
                      Port is required
                    </mat-error>
                  }
                </mat-form-field>
                <!-- enableSsl -->
                <section required>
                  <mat-checkbox class="checkbox-margin" formControlName="enableSsl">
                    Is Enable SSL?
                  </mat-checkbox>
                </section>
                <!-- isDefaultEmailAccount -->
                <section required>
                  <mat-checkbox
                    class="checkbox-margin"
                    formControlName="isDefaultEmailAccount"
                    >
                    Is Default Email Account?
                  </mat-checkbox>
                </section>
              </mat-dialog-content>
              <mat-dialog-actions align="end">
                <button mat-raised-button mat-dialog-close>Cancel</button>
                <button
                  mat-raised-button
                  [mat-dialog-close]="true"
                  cdkFocusInitial
                  color="primary"
                  [disabled]="!emailAccountForm.dirty || !emailAccountForm.valid"
                  type="submit"
                  >
                  Save
                </button>
              </mat-dialog-actions>
            </form>
