.mat-dialog-title {
    text-align: center;
    font-weight: bold;
}

.mat-dialog-content {
    text-align: center;
    font-weight: bold;
}

table {
    width: 100%;
}
.mat-header-cell {
    background: rgba(245, 245, 245, 0.3);
}