<div class="container-fluid">
  <div class="d-flex justify-content-between">
    <h3 mat-dialog-title>RFQ Sent Supplier List : {{ data?.requisitionNo }}</h3>
    <div>
      <button mat-dialog-close mat-icon-button color="warn" type="button">
        <mat-icon>closeIcon</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="border border-1" mat-table [dataSource]="dataSource">
    <!-- name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- contactNo Column -->
    <ng-container matColumnDef="contactNo">
      <th mat-header-cell *matHeaderCellDef>Contact No</th>
      <td mat-cell *matCellDef="let element">{{ element.contactNo }}</td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<!-- loader start -->
<ng-container *ngIf="loading;">
  <app-loading-skeleton skeletonRowsCount="3"></app-loading-skeleton>
</ng-container>
<!-- loader end -->
